{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<header class="fixed w-full top-0 left-0 flex justify-between z-10">
    <div id="headerLogoTissebands">
        <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
    </div>
    <div id="headerLogoCite">
        <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo">
    </div>
</header>

<main class="flex flex-col justify-center items-center min-h-screen pt-24 pb-16"> 
    <div class="text-center max-w-lg">
        <form method="post" class="grid grid-cols-1">
            <h1 class="text-4xl font-bold mb-4">Se Connecter</h1>
            {% if error %}
                <div class="alert alert-danger mb-4">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <label for="username" class="text-xl">Nom</label>
            <input type="text" name="_username" id="username" value="{{ last_username }}" class="form-control border-4 rounded-lg mb-4" required autofocus>

            <label for="password" class="text-xl">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control border-4 rounded-lg mb-4" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="checkbox mb-3">
                <label><input type="checkbox" name="_remember_me"> Se souvenir</label>
            </div>
            <button type="submit" class="bg-teal-500 text-white rounded-lg px-8 py-3 text-xl shadow">Connexion</button>
        </form>
        {% if app.user %}
            <div class="mt-5">Je suis connecté en tant que {{ app.user.userIdentifier }} avec le rôle
                {% if is_granted('ROLE_ADMIN') %}Administrateur{% else %}Utilisateur{% endif %}.
            </div>
            <a href="{{ path('app_logout') }}" class="bg-teal-500 text-white rounded-lg px-8 py-3 mt-3">Déconnecter</a>
        {% endif %}
    </div>
</main>

<footer class="fixed bottom-0 w-full bg-white">
    <div class="flex justify-center content-center">
        <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo">
    </div>
</footer>
{% endblock %}
