{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-center text-black mb-6">Diagnostics en cours</h1>
        <table class="max-w-3xl mx-auto text-center border-2 border-gray-300 rounded-lg border-separate">
            <thead class="bg-gray-200">
            <tr class=" text-black">
                <th class="px-2 py-2">Reference<i class="ml-1 bi bi-arrow-down-up"></i></th>
                <th class="px-2 py-2">Marque<i class="ml-1 bi bi-arrow-down-up"></i></th>
                <th class="px-2 py-2">Type<i class="ml-1 bi bi-arrow-down-up"></i></th>
                <th class="px-2 py-2">Couleur<i class="ml-1 bi bi-arrow-down-up"></i></th>
                <th class="px-2 py-2">Date d'enregistrement <i class="ml-1 bi bi-arrow-down-up"></i></th>
                <th class="px-2 py-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in filteredDiagnostics %}
                <tr class="border">
                    <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.refRecyclerie }}</td>
                    <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.marque }}</td>
                    <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.type }}</td>
                    <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.couleur }}</td>
                    <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.dateDeEnregistrement }}</td>
                    <td class="px-4 py-2 ">
                        <a href="{{ path('reprendre_diagnostic', {'id': item.diagnostic.id}) }}" class="py-2 px-4 bg-teal-500 text-white font-semibold rounded hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-opacity-50">
                            Reprendre
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="details-container text-center mt-4">
            <a href="{{ path('app_accueil') }}" class="button-style">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
