{% extends 'base.html.twig' %}

{% block body %}
    <style>
        /* Animation Slide-In */
        @keyframes slideIn {
            from {
                transform: translateX(100%);
            }
            to {
                transform: translateX(0);
            }
        }

        /* Animation Slide-Out */
        @keyframes slideOut {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(100%);
            }
        }

        /* Classe d'animation */
        .slide-in {
            animation: slideIn 0.5s ease-out forwards;
        }

        .slide-out {
            animation: slideOut 0.5s ease-in forwards;
        }

        @media screen and (max-width: 500px) {
            .logo-footer {
                display: block;
                position: fixed;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }

            .table-container {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }

            .table {
                width: 100%;
            }
        }

        @media screen and (min-width: 501px) and (max-width: 900px) {
            .table-container {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }

            .table {
                width: 100%;
            }

            .logo-footer {
                display: none;
            }
        }

        @media screen and (min-width: 901px) {
            .table-container {
                overflow-x: visible;
            }

            .table {
                width: auto;
                min-width: 900px;
            }

            .logo-footer {
                display: none;
            }
        }
    </style>
    <body class="flex flex-col min-h-screen">

        {% for message in app.flashes('success') %}
            <div class="fixed top-5 right-0 z-50 bg-white border border-gray-200 rounded-lg shadow-lg p-4 flex items-center gap-3 slide-in" id="flash-message">
                <div class="text-green-500">
                    <i class="bi bi-check-circle-fill text-green-500 text-xl"></i>
                </div>
                <div>
                    <p class="text-sm font-semibold text-gray-800">{{ message }}</p>
                </div>
                <button
                    type="button"
                    class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center"
                    onclick="hideFlashMessage()"
                >
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        {% endfor %}

        <header class="flex relative w-full justify-between">
            <div id="headerLogoTissebands">
                <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
            </div>
            <div id="headerLogoCite">
                <img src="{{ asset('images/nouveau log 1.png') }}" alt="LCDRLR Logo">
            </div>
        </header>

        <main class="flex-1 p-4">
            <div class="container mx-auto">

                <div class="container mx-auto mb-4 px-4 sm:px-6 lg:px-8">
                    <h1 class="text-2xl font-bold text-black text-center">Créer/Continuer Diagnostic</h1>
                    <p class="text-gray-700 font-semibold text-center">{{lieu.nomType}} {{lieu.nom}} à {{lieu.ville}}</p>
                </div>

                <nav class="w-full py-3 px-4 container mx-auto flex flex-col sm:flex-row justify-center sm:items-center space-y-2 sm:space-y-0 sm:space-x-4 mb-4">
                    <ol class="breadcrumb flex flex-wrap items-center space-x-2 sm:space-x-4">
                        <li class="breadcrumb-item font-bold">
                            <a href="{{ path('app_accueil') }}" class="text-blue-500 hover:text-blue-600 font-bold flex items-center">
                                <i class="fas fa-home mr-2"></i>
                            </a>
                        </li>
                        <li><i class="fas fa-angle-right text-gray-400"></i></li>
                        <li class="breadcrumb-item text-black font-bold flex items-center">
                            <i class="fas fa-tasks mr-2"></i> Diagnostic
                        </li>
                        <li><i class="fas fa-angle-right text-gray-400"></i></li>
                        <li class="breadcrumb-item font-bold">
                            <a href="{{ path('app_accueil', { 'modal': 'open' }) }}" class="text-blue-500 hover:text-blue-600 font-bold flex items-center hover:underline">
                                <i class="fas fa-map-marker-alt mr-2"></i> Lieu
                            </a>
                        </li>
                        <li><i class="fas fa-angle-right text-gray-400"></i></li>
                        <li class="breadcrumb-item font-bold">
                            Créer/Continuer  diagnostic
                        </li>
                    </ol>
                </nav>


                <div class="flex justify-center mb-4">
                    <a href="/velo/all" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg px-4 py-2 text-sm shadow transition-colors duration-200 w-auto inline-flex items-center justify-center">
                        <i class="bi bi-plus text-lg mr-1"></i>
                        Créer un diagnostic
                    </a>

            </div>
            <h1 class="text-3xl font-bold text-center text-black mb-6">Diagnostics en cours</h1>
            <div class="table-container max-w-full">
                <table class="table-auto max-w-6xl mx-auto text-center border-2 border-gray-300 rounded-lg border-separate">
                    <thead class="text-lg bg-gray-200">
                    <tr class=" text-lg text-black">

                        <th class="px-2 py-2 whitespace-nowrap">Numéro de série</th>
                        <th class="px-2 py-2">Bicycode</th>
                        <th class="px-2 py-2 whitespace-nowrap">Reference Recyclerie</th>
                        <th class="px-2 py-2">Marque</th>
                        <th class="px-2 py-2">Type</th>
                        <th class="px-2 py-2">Couleur</th>
                        <th class="px-2 py-2 whitespace-nowrap">Date du diagnostic </th>
                        <th class="px-2 py-2">propriétaire</th>
                        <th class="px-2 py-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in filteredDiagnostics %}
                        <tr class="border">
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.numeroSerie }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.bicycode }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.refRecyclerie }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.marque }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.type }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.couleur }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.diagnostic.dateDiagnostic|date('d/m/Y H:i') }}</td>
                            <td class="px-4 py-2 border-r border-b">{{ item.veloDetails.proprio.nomProprio }}</td>
                            <td class="px-4 py-2 ">
                                <a href="{{ path('reprendre_Multidiagnostic', {'id': item.diagnostic.id}) }}" class="py-2 px-4 bg-teal-500 text-white font-semibold rounded hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-opacity-50">
                                    Continuer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            </div>

        </main>

        <footer class="w-full">
            <div id="bottom-logo" class="flex justify-center items-center py-6">
                <img src="{{ asset('images/nouveau log 1.png') }}" alt="Logo de l'entreprise" >
            </div>
        </footer>
    </body>

    <script>
        function hideFlashMessage() {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.classList.remove('slide-in');
                flashMessage.classList.add('slide-out');

                setTimeout(() => {
                    flashMessage.remove();
                }, 500);
            }
        }

        setTimeout(() => {
            hideFlashMessage();
        }, 5000);
    </script>
{% endblock %}
