{% extends 'base.html.twig' %}

{% block title %}
    {% if userForm.vars.value.id %}Edit Utilisateur{% else %}Create New Utilisateur{% endif %}
{% endblock %}

{% block body %}
    <style>
        .autocomplete-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: white;
            border: 1px solid #ddd;
            max-height: 150px;
            position: absolute;
            left: 45%;
            width: 225px;
            z-index: 1000;
        }

        .autocomplete-item {
            padding: 8px;
            cursor: pointer;
        }

        .autocomplete-item:hover {
            background-color: #f0f0f0;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="container max-w-lg text-center border bg-white shadow rounded-lg p-6">
            {{ form_start(userForm) }}
            <div class="mb-6">
                <h1 class="text-xl font-semibold my-4">{% if userForm.vars.value.id %}Modifier un utilisateur{% else %}Créer un utilisateur{% endif %}</h1>
            </div>
            <div class="mb-4">
                {{ form_label(userForm.nom) }}
                {{ form_widget(userForm.nom, {'attr': {'class': 'form-control border border-gray-300 p-2 rounded'}}) }}
                {{ form_errors(userForm.nom) }}
            </div>

            <div class="mb-4">
                {{ form_label(userForm.role) }}
                {{ form_widget(userForm.role, {'attr': {'class': 'form-control p-2 rounded border border-gray-300'}}) }}
                {{ form_errors(userForm.role) }}
            </div>

            <div class="mb-4">
                <div class="auto-complete-structure">
                    {{ form_label(userForm.structure) }}
                    {{ form_widget(userForm.structure, {'attr': {'class': 'structure-search form-control p-2 rounded border border-gray-300', 'id': 'structure-search'}}) }}
                    <div id="match-list-structure" class="autocomplete-results"></div>
                </div>
                {{ form_errors(userForm.structure) }}
            </div>

            <div class="mb-4">
                <div class="relative">
                    {{ form_label(userForm.password) }}
                    {{ form_widget(userForm.password, {'attr': {'class': 'form-control p-2 rounded border border-gray-300'}}) }}
                    <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                        <button type="button" class="toggle-password" style="background: none; border: none;">
                            <i class="fas fa-eye"></i>
                        </button>
                    </span>
                </div>
                {{ form_errors(userForm.password) }}
            </div>

            <button type="submit" class="btn bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600">
                {% if userForm.vars.value.id %}Mettre à jour{% else %}Soumettre{% endif %}
            </button>
            {{ form_end(userForm) }}
        </div>
    </div>
    <script>
        document.querySelector('.toggle-password').addEventListener('click', function (e) {
            e.preventDefault();
            let passwordInput = document.querySelector('#{{ userForm.password.vars.id }}');
            let icon = this.querySelector('.fas');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        });

        /*** autocomplete **/
        const structureSearch = document.querySelector('.structure-search');
        const matchListStructure = document.getElementById('match-list-structure');

        const showSuggestions = (suggestions) => {
            matchListStructure.innerHTML = '';

            if (suggestions.length === 0) {
                return;
            }

            const list = document.createElement('ul');
            list.classList.add('autocomplete-list');

            suggestions.forEach(suggestion => {
                const li = document.createElement('li');
                li.textContent = suggestion;
                li.classList.add('autocomplete-item');

                list.appendChild(li);

                li.addEventListener('click', () => {
                    structureSearch.value = suggestion;
                    matchListStructure.innerHTML = '';
                });
            });

            matchListStructure.appendChild(list);
        };

        const searchStructure = async searchText => {
            if (!searchText) {
                matchListStructure.innerHTML = ``;
                return;
            }
            try {
                const response = await fetch(`{{ path('autocomplete_structures') }}?structure=${searchText}`);

                if (!response.ok) {
                    if (response.status === 404) {
                        matchListStructure.innerHTML = '';
                        const errorMessage = document.createElement('div');
                        errorMessage.textContent = "Aucune structure trouvée pour ce nom.";
                        errorMessage.classList.add('autocomplete-list');
                        matchListStructure.appendChild(errorMessage);
                    } else {
                        throw new Error('Erreur de serveur');
                    }
                    return;
                }

                const result = await response.json();
                showSuggestions(result);
            } catch (error) {
                matchListStructure.innerHTML = '';
                const errorMessage = document.createElement('div');
                errorMessage.textContent = "Une erreur est survenue lors de la recherche.";
                errorMessage.classList.add('autocomplete-list');
                matchListStructure.appendChild(errorMessage);
            }

            const response = await fetch(`{{ path('autocomplete_structures') }}?structure=${searchText}`);
            const result = await response.json();

            showSuggestions(result);
        }

        structureSearch.addEventListener('input', () => {
            searchStructure(structureSearch.value);
        });
    </script>
{% endblock %}
