{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-6 text-center">Liste des Utilisateurs
            <a href="{{ path('utilisateur_new') }}" class="text-white bg-teal-500 hover:bg-green-400 m-3 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                <i class="bi bi-plus-circle-fill text-lg mr-1"></i>
                Ajouter un utilisateur
            </a>
        </h1>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">Status</th>
                    <th scope="col" class="py-3 px-6">ID</th>
                    <th scope="col" class="py-3 px-6">Nom</th>
                    <th scope="col" class="py-3 px-6">Rôle(s)</th>
                    <th scope="col" class="py-3 px-6">Actions</th>
                </tr>
                </thead>
                <tbody>
                {# Boucle pour afficher les utilisateurs actifs #}
                {% for utilisateur in utilisateurs|filter(user => user.isActive) %}
                    <tr class="bg-white border-b">
                        <td class="py-4 px-6">
                            <label class="inline-flex items-center me-5 cursor-pointer">
                                <input type="checkbox" class="sr-only peer" checked onclick="toggleUserStatus({{ utilisateur.id }}, this)">
                                <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Actif</span>
                            </label>
                        </td>
                        <td class="py-4 px-6">{{ utilisateur.id }}</td>
                        <td class="py-4 px-6">{{ utilisateur.nom }}</td>
                        <td class="py-4 px-6">{{ utilisateur.getRoles|join(', ') }}</td>
                        <td class="py-4 px-6">
                            <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="text-white bg-teal-500 hover:bg-green-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                {# Boucle pour afficher les utilisateurs inactifs #}
                {% for utilisateur in utilisateurs|filter(user => not user.isActive) %}
                    <tr class="bg-gray-300 border-b">
                        <td class="py-4 px-6">
                            <label class="inline-flex items-center me-5 cursor-pointer">
                                <input type="checkbox" class="sr-only peer" onclick="toggleUserStatus({{ utilisateur.id }}, this)">
                                <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Inactif</span>
                            </label>
                        </td>
                        <td class="py-4 px-6">{{ utilisateur.id }}</td>
                        <td class="py-4 px-6">{{ utilisateur.nom }}</td>
                        <td class="py-4 px-6">{{ utilisateur.getRoles|join(', ') }}</td>
                        <td class="py-4 px-6"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-6 flex justify-center">
            <a href="{{ path('app_dashboard') }}" class="button-style hover:bg-green-400"><i class="bi bi-box-arrow-left text-xl"></i> Retour au dashboard</a>
        </div>
    </div>

    <!-- Modal pour la confirmation de désactivation -->
    <div id="popup-modal" class="hidden fixed inset-0 z-50 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <!-- Heroicon name: outline/exclamation -->
                            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Désactivation du compte</h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">Êtes-vous sûr de vouloir désactiver ce compte ? Cette action est irréversible.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm" onclick="confirmDisable()">Désactiver</button>
                    <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeModal(userIdToDisable, true)">Annuler</button>
                </div>
            </div>
        </div>
    </div>




    <script>
        var userIdToDisable = null; // Variable pour stocker l'ID de l'utilisateur à désactiver
        var currentCheckbox = null; // Variable pour stocker l'élément checkbox actuel

        function toggleUserStatus(userId, element) {
            if (element.disabled) {
                return; // Empêche toute action si le contrôle est désactivé
            }

            const userConnectedId = {{ app.user.id }};
            if (userId === userConnectedId) {
                alert("Vous ne pouvez pas modifier votre propre statut.");
                element.checked = !element.checked; // Rétablit l'état précédent du toggle
                return;
            }

            userIdToDisable = userId; // Stocke l'ID pour utilisation dans le modal
            currentCheckbox = element; // Stocke l'élément checkbox

            if (!element.checked) {
                openModal(); // Ouvre la modale de confirmation
            } else {
                element.checked = false; // Si la réactivation n'est pas autorisée, cette ligne empêche le changement
            }
        }

        function openModal() {
            document.getElementById('popup-modal').classList.remove('hidden');
        }

        function closeModal(userId, reset = false) {
            document.getElementById('popup-modal').classList.add('hidden');
            if (reset && currentCheckbox) {
                currentCheckbox.checked = true; // Réinitialise le toggle à l'état actif si l'annulation est choisie
            }
        }

        function confirmDisable() {
            disableUser(userIdToDisable);
            closeModal(userIdToDisable);
        }

        function disableUser(userId) {
            const url = '/dashboard/utilisateur/disable/' + userId;
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erreur de réseau ou de serveur');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        window.location.reload(); // Recharge la page si la désactivation a réussi
                    } else {
                        alert('Erreur lors du changement de statut'); //TODO changer l'alerte en modal
                    }
                })
                .catch(error => {
                    alert('Erreur lors de la communication avec le serveur: ' + error.message); //TODO changer l'alerte en modal
                });
        }
    </script>




{% endblock %}
