{% extends 'base.html.twig' %}

{% block title %}Create New Utilisateur{% endblock %}

{% block body %}
    <style>
        .auto-complete-structure {
            display: flex;
            flex-direction: column;
            width: 225px;
            justify-content: center;
            align-items: center;
        }

        .autocomplete-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: white;
            border: 1px solid #ddd;
            max-height: 150px;
            position: absolute;
            left: 42.5%;
            width: 225px;
            z-index: 1000;
        }

        .autocomplete-item {
            padding: 8px;
            cursor: pointer;
        }

        .autocomplete-item:hover {
            background-color: #f0f0f0;
        }
    </style>

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="container max-w-lg text-center border bg-white shadow rounded-lg">
            {{ form_start(userForm) }}
            <div class="mb-4">
                <h1 class="text-xl font-semibold">Créer un utilisateur</h1>
            </div>
            <div class="mb-3">
                <div>
                    {{ form_label(userForm.nom) }}
                </div>
                {{ form_widget(userForm.nom, {'attr': {'class': 'form-control border p-2 rounded'}}) }}
                {{ form_errors(userForm.nom) }}
            </div>

            <div class="mb-3">
                {{ form_label(userForm.role) }}
                {{ form_widget(userForm.role, {'attr': {'class': 'form-control p-2 rounded'}}) }}
                {{ form_errors(userForm.role) }}
            </div>
            <div class="mb-3 flex items-center justify-center">
                <div class="auto-complete-structure">
                    {{ form_label(userForm.structure) }}
                    {{ form_widget(userForm.structure, {'attr': {'class': 'structure-search form-control p-2 rounded border border-gray-300', 'id': 'structure-search'}}) }}
                    <div id="match-list-structure" class="autocomplete-results"></div>
                </div>
                {{ form_errors(userForm.structure) }}
            </div>

            <div class="mb-3">
                <div class="relative">
                    <div>
                        {{ form_label(userForm.password) }}
                    </div>
                    {{ form_widget(userForm.password, {'attr': {'class': 'form-control border p-2 rounded'}}) }}
                    <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                        <button type="button" class="toggle-password" style="background: none; border: none;">
                            <i id='eye' class="fas fa-eye"></i>
                        </button>
                    </span>
                </div>
                {{ form_errors(userForm.password) }}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-error" style="color: red;">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600">Soumettre</button>

            {{ form_end(userForm) }}
            <div class="mt-10 flex justify-center">
                <a href="{{ path('utilisateur_liste') }}" class="button-style hover:bg-green-400"><i class="bi bi-box-arrow-left text-xl"></i> Retour liste utilisateurs</a>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.toggle-password').addEventListener('click', function (e) {
            e.preventDefault();
            let passwordInput = document.querySelector('#{{ userForm.password.vars.id }}');
            let i = document.getElementById('eye');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                i.classList = 'fas fa-eye-slash';
            } else {
                passwordInput.type = 'password';
                i.classList = 'fas fa-eye';
            }
        });

        /*** autocomplete **/
        const structureSearch = document.querySelector('.structure-search');
        const matchListStructure = document.getElementById('match-list-structure');

        const showSuggestions = (suggestions) => {
            matchListStructure.innerHTML = '';

            if (suggestions.length === 0) {
                return;
            }

            const list = document.createElement('ul');
            list.classList.add('autocomplete-list');

            suggestions.forEach(suggestion => {
                const li = document.createElement('li');
                li.textContent = suggestion;
                li.classList.add('autocomplete-item');

                list.appendChild(li);

                li.addEventListener('click', () => {
                    structureSearch.value = suggestion;
                    matchListStructure.innerHTML = '';
                });
            });

            matchListStructure.appendChild(list);
        };

        const searchStructure = async searchText => {
            if (!searchText) {
                matchListStructure.innerHTML = ``;
                return;
            }
            try {
                const response = await fetch(`{{ path('autocomplete_structures') }}?structure=${searchText}`);

                if (!response.ok) {
                    if (response.status === 404) {
                        matchListStructure.innerHTML = '';
                        const errorMessage = document.createElement('div');
                        errorMessage.textContent = "Aucune structure trouvée pour ce nom.";
                        errorMessage.classList.add('autocomplete-list');
                        matchListStructure.appendChild(errorMessage);
                    } else {
                        throw new Error('Erreur de serveur');
                    }
                    return;
                }

                const result = await response.json();
                showSuggestions(result);
            } catch (error) {
                matchListStructure.innerHTML = '';
                const errorMessage = document.createElement('div');
                errorMessage.textContent = "Une erreur est survenue lors de la recherche.";
                errorMessage.classList.add('autocomplete-list');
                matchListStructure.appendChild(errorMessage);
            }

            const response = await fetch(`{{ path('autocomplete_structures') }}?structure=${searchText}`);
            const result = await response.json();

            showSuggestions(result);
        }

        structureSearch.addEventListener('input', () => {
            searchStructure(structureSearch.value);
        });
    </script>
{% endblock %}

