{% extends 'base.html.twig' %}

{% block body %}
    <body class="flex flex-col min-h-screen  bg-gray-50">
        <header class="flex relative w-full justify-between">
            <div id="headerLogoTissebands">
                <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
            </div>
            <div id="headerLogoCite">
                <img src="{{ asset('images/nouveau log 1.png') }}" alt="LCDRLR Logo">
            </div>
        </header>

        <main class="flex-1 p-6 bg-gray-50">
        
            <!-- Modal Participant-->
            <div id="participantModal" role="dialog" aria-labelledby="modal-title" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center overflow-y-auto">
                <!-- Backdrop -->
                <div id="backdrop-participant"class="modal-backdrop fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm z-40"></div>

                <div class="relative max-w-5xl w-full mx-4 sm:mx-auto bg-white rounded-lg shadow-lg p-4 md:p-5 overflow-y-auto max-h-[90vh] z-50">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b">
                        <h3 id="modal-title" class="text-xl font-semibold text-gray-900">Nos participants</h3>
                        <button id="closeModalParticipant" type="button" class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    <!-- Liste des participants -->
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 text-gray-600">
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Nina Gomez</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Liz Manresa</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Jean-Luc Vassal</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Najib Ebrahimi</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Julien Muller</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Adam Moudoux</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Girard Mehdi</span>
                        </div>
                        <div class="flex items-center gap-3 p-4 bg-gray-50 rounded-lg shadow hover:shadow-lg transition duration-300">
                            <i class="fas fa-user-circle text-blue-400 text-3xl"></i>
                            <span class="font-semibold">Adam Moukhliss</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mx-auto mb-4 px-4 sm:px-6 lg:px-8">
                <h1 class="text-xl sm:text-2xl font-bold text-black text-center">
                    <i class="bi bi-info-circle mr-2"></i> À Propos
                </h1>
            </div>


            <nav class="w-full py-3 px-4 container mx-auto flex flex-col sm:flex-row justify-center sm:items-center space-y-2 sm:space-y-0 sm:space-x-4 mb-4">
                <ol class="breadcrumb flex flex-wrap items-center space-x-2 sm:space-x-4">
                    <li class="breadcrumb-item font-bold">
                        <a href="{{ path('app_accueil') }}" class="text-blue-500 hover:text-blue-600 font-bold flex items-center hover:underline">
                            <i class="fas fa-home mr-2"></i>
                        </a>
                    </li>
                    <li><i class="fas fa-angle-right text-gray-400"></i></li>
                    <li class="breadcrumb-item text-black font-bold flex items-center">
                         <i class="bi bi-info-circle mr-2"></i> À Propos
                    </li>
                </ol>
            </nav>

            <div class="container mx-auto p-4 bg-white shadow rounded-lg">
                <h2 class="text-3xl font-bold text-blue-600 mb-4">À propos de notre projet</h2>
                <p class="text-lg text-gray-700 mb-6">
                    Bienvenue dans l'univers du diagnostic vélo digitalisé ! 🚴‍🔧
                </p>

                <h3 class="text-2xl font-semibold text-gray-800 mb-3">Origines du projet</h3>
                <p class="text-gray-600 mb-4">
                    Ce projet est né en 2023, grâce à l’initiative de <span class="font-semibold">Gilles Annenkoff</span>, 
                    fondateur de l’<span class="font-semibold">Association Les Tisserands d’EBN</span>, et avec la précieuse collaboration de 
                    <span class="font-semibold">Jérôme Gerrer</span>.
                </p>
                <p class="text-gray-600 mb-6">
                    Le développement et la programmation ont été confiés aux étudiants de <span class="font-semibold">UHA 4.0</span> 
                    à Mulhouse, qui ont mis à profit leur expertise pour réaliser cette application innovante.
                </p>

                <h3 class="text-2xl font-semibold text-gray-800 mb-3">Pourquoi utiliser notre application ?</h3>
                <ul class="list-disc list-inside text-gray-700 mb-6">
                    <li><span class="font-semibold">Clarté et précision</span> : Structurez vos diagnostics grâce à une interface simple et bien organisée.</li>
                    <li><span class="font-semibold">Analyse des statistiques</span> : Visualisez rapidement les performances et les données clés pour un meilleur suivi des interventions.</li>
                    <li><span class="font-semibold">Modularité</span> : Configurez l’application selon vos besoins spécifiques pour s’adapter à vos méthodes de travail.</li>
                    <li><span class="font-semibold">Zéro papier</span> : Éliminez les supports papier pour gagner en efficacité et en durabilité.</li>
                    <li><span class="font-semibold">Collaboration fluide</span> : Facilitez le partage des informations au sein de votre équipe technique.</li>
                </ul>

                <h3 class="text-2xl font-semibold text-gray-800 mb-3">Notre mission</h3>
                <p class="text-gray-600">
                    Offrir une solution moderne et efficace, permettant aux techniciens de se concentrer sur l’essentiel : garantir la qualité des diagnostics et optimiser leurs interventions.
                </p>
            </div>
        </main>

        <footer class="bg-gray-50 p-4 text-center">
            <div id="bottom-logo" class="flex justify-center items-center py-6 ">
                <img src="{{ asset('images/nouveau log 1.png') }}" alt="Logo de l'entreprise" >
            </div>
            <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
                <div class="md:flex md:justify-between">
                    <div class="mb-6 md:mb-0">
                        <a href="https://www.uha4point0.fr" class="flex items-center">
                            <img src="{{ asset('images/uha_4_0_logo (4).png') }}" alt="Logo UHA" class="h-8 me-3">
                            <span class="self-center text-2xl font-semibold whitespace-nowrap text-black dark:text-black">UHA 4.0</span>
                        </a>
                    </div>
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-black uppercase dark:text-black">Lien utile</h2>
                            <ul class="text-black dark:text-gray-600 font-medium">
                                <li>
                                    <a href="{{path('app_propos')}}" class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300">À propos</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-black uppercase dark:text-black">Contact</h2>
                            <ul class="text-black dark:text-gray-600 font-medium">
                                <li class="mb-4">
                                    <a href="https://www.uha4point0.fr" class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300">Site Internet</a>
                                </li>
                                <li>
                                    <a href="#" id="openModalParticipant" class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300">Voir Participants</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-black uppercase dark:text-black">Légal</h2>
                            <ul class="text-black dark:text-gray-600 font-medium">
                                <li class="mb-4">
                                    <a href="{{ path('app_legal') }}" class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300">Mentions Légales</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_legal', {'term' : 'true' }) }}" class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors duration-300">Termes &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-6 border-gray-300 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <div class="sm:flex sm:items-center sm:justify-between">
                    <span class="text-sm text-black sm:text-center dark:text-gray-600">© 2024 <strong>L’Association Les Tisserands d’EBN</strong>. Développé avec ❤️ par les étudiants de l'UHA 4.0.</span>
                    <div class="flex mt-4 sm:justify-center sm:mt-0">
                        <!-- Facebook -->
                        <a href="https://www.facebook.com/UHA4point0" class="text-black hover:text-gray-900 dark:hover:text-black transition-colors duration-300">
                            <i class="bi bi-facebook fs-4"></i>
                            <span class="sr-only">Facebook page</span>
                        </a>

                        <!-- Instagram -->
                        <a href="https://www.instagram.com/uha4.0/" class="text-black hover:text-gray-900 dark:hover:text-black ms-5 transition-colors duration-300">
                            <i class="bi bi-instagram fs-4"></i>
                            <span class="sr-only">Instagram community</span>
                        </a>

                        <!-- YouTube -->
                        <a href="https://www.youtube.com/channel/UCHGnFAHsqeIPXaY28gXOh-Q/featured" class="text-black hover:text-gray-900 dark:hover:text-black ms-5 transition-colors duration-300">
                            <i class="bi bi-youtube fs-4"></i>
                            <span class="sr-only">YouTube page</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script>

        document.addEventListener("DOMContentLoaded", () => {
        
            // Modal Participant
            const openModalParticipant = document.getElementById('openModalParticipant');
            const closeModalParticipant = document.getElementById('closeModalParticipant');
            const modalParticipant = document.getElementById('participantModal');

            // Ouvrir la modal pour les participants
            openModalParticipant?.addEventListener('click', function() {
                modalParticipant.classList.remove('hidden');
            });

            // Fermer la modal pour les participants
            closeModalParticipant?.addEventListener('click', function() {
                modalParticipant.classList.add('hidden');
            });
            
            // Fermer la modal des participants en cliquant sur le backdrop (fond)
            document.getElementById('backdrop-participant').addEventListener("click", (event) => {
                // Vérifier si l'élément cliqué est le fond (backdrop)
                if (event.target === document.getElementById('backdrop-participant')) {
                    document.getElementById('participantModal').classList.add("hidden");
                }
            });

        });


    </script>
{% endblock %}
