{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <header class="relative w-full top-0 left-0 flex justify-between z-10">
        <div id="headerLogoTissebands">
            <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
        </div>
        <div id="headerLogoCite">
            <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo">
        </div>
    </header>

    <main>
        <div class="max-w-lg mx-auto text-center mb-4 md:mb-0">
            <h1 class="text-4xl font-bold">Bienvenue</h1>
        </div>
        <div id="text-home" class="text-center portrait:text-3xl mb-6 md:mb-0">
            <p>Explorez notre application pour découvrir comment nous sauvons des vélos de la casse et les remettons en état pour une mobilité durable dans la région Mulhousienne !</p>
        </div>

        <div class="max-w-lg mx-auto text-center portrait:max-w-2xl mt-0 md:mt-3">
            <div class="flex flex-col items-stretch shadow-lg p-6 rounded-lg">

                <a href="/diagnosticEnCours" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg px-4 py-2 text-base lg:text-xl shadow transition-colors duration-200 mb-4 flex items-center justify-center w-full portrait:text-lg lg:portrait:text-4xl">
                    <i class="bi bi-arrow-up-left-circle text-2xl lg:text-3xl mr-2 lg:mr-4 portrait:text-4xl lg:portrait:text-6xl"></i>
                    Diagnostics
                </a>

                <a href="/velo/all" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg px-4 py-2 text-base lg:text-xl shadow transition-colors duration-200 mb-4 flex items-center justify-center w-full portrait:text-lg lg:portrait:text-4xl">
                    <i class="bi bi-search text-2xl lg:text-3xl mr-2 lg:mr-4 portrait:text-4xl lg:portrait:text-6xl"></i>
                    Vélos
                </a>

                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('diagnostics_recapitulatif') }}" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg px-4 py-2 text-base lg:text-xl shadow transition-colors duration-200 mb-4 flex items-center justify-center w-full portrait:text-lg lg:portrait:text-4xl">
                            <i class="bi bi-clipboard-data text-2xl lg:text-3xl mr-2 lg:mr-4 portrait:text-4xl lg:portrait:text-6xl"></i>
                            Statistiques
                        </a>

                        <a href="{{ path('app_dashboard') }}" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg px-4 py-2 text-base lg:text-xl shadow transition-colors duration-200 mb-4 flex items-center justify-center w-full portrait:text-lg lg:portrait:text-4xl">
                            <i class="bi bi-speedometer text-2xl lg:text-3xl mr-2 lg:mr-4 portrait:text-4xl lg:portrait:text-6xl"></i> 
                            Tableau de bord
                        </a>
                    {% endif %}
                {% endif %}

            </div>

            {% if app.user %}
                <div class="mb-3">
                    Bienvenue {{ app.user.userIdentifier }} ! Votre rôle est :
                    {% if is_granted('ROLE_ADMIN') %}
                        Administrateur
                    {% elseif is_granted('ROLE_USER') %}
                        Utilisateur
                    {% endif %}
                </div>
                    <a href="{{ path('app_logout') }}" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg text-lg shadow px-4 py-2 portrait:text-2xl">
                        <i class="bi bi-box-arrow-left text-xl portrait:text-3xl mr-2"></i> Déconnecter
                    </a>

            {% else %}
                <div class="mt-3">
                    <a href="{{ path('app_login') }}" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg text-lg shadow px-4 py-2 portrait:text-2xl">
                        <i class="bi bi-box-arrow-in-right text-xl portrait:text-3xl mr-2"></i> Se Connecter
                    </a>
                </div>
            {% endif %}
        </div>
    </main>

    <footer class="fixed bottom-0 w-full bg-white">
        <div class="flex justify-center content-center">
            <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo">
        </div>
    </footer>

    <style>
        {# Disparition du texte d'introduction pour le responsive #}
        @media (min-width: 840px){
            #text-home{display:block;}
        }
        @media (max-width: 840px){
            #text-home{display:none;}
        }
    </style>
{% endblock %}

