{% extends 'base.html.twig' %}

{% block title %}Détails du Vélo{% endblock %}



{% block body %}
    <style>
        span[contenteditable="true"] {
            background-color: #ffffe0;
            outline: 2px solid #4caf50;
            border-radius: 5px;
            padding: 3px;
            cursor: text;
            margin-left: 3px;
        }
    </style>
    <h1 class="text-center text-lg font-semibold">
        Modifier le vélo :<br>
        Ref Recyclerie: {{ velo.getRefRecyclerie() }} &nbsp;&nbsp;
        numéro de série : {{ velo.getNumeroDeSerie() }} &nbsp;&nbsp;
        Bicycode: {{ velo.getBicycode() }} &nbsp;&nbsp;
        Marque: {{ velo.marque }}<br>
        Propriétaire:  {{ velo.getProprietaire.getNomProprio() }} &nbsp;&nbsp;
    </h1>


    <div class="flex flex-col-2 gap-4 container mx-auto justify-center items-center bg-teal-500 shadow-lg rounded p-4 max-w-5xl ">
        <div class="">
            <h2 class="text-center font-bold">Détails du Vélo</h2>
            <ul class="details-list">
                <li class="bg-white rounded mr-2 mb-2 p-1">Référence recyclerie: <span id="ref_recyclerie">{{ velo.getRefRecyclerie() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Numéro de série: <span id="numero_de_serie">{{ velo.getNumeroDeSerie() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Bicycode: <span id="bicycode">{{ velo.getBicycode() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Couleur: <span id="couleur">{{ velo.couleur }}</span></li>
                <li class="bg-white rounded mr-2 mt-2 mb-2 p-1">Marque: <span id="marque">{{ velo.marque }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Type: <span id="type">{{ velo.type }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Public: <span id="public">{{ velo.getPublic() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">État: <span id="etat">{{ velo.etat }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Taille du Cadre: <span id="taille_cadre">{{ velo.getTailleCadre() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Taille des Roues: <span id="taille_roues">{{ velo.getTailleRoues() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Poids: <span id="poids">{{ velo.poids }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Modèle: <span id="model">{{ velo.model }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Emplacement: <span id="emplacement">{{ velo.emplacement }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Commentaire: <span id="commentaire">{{ velo.commentaire }}</span></li>
                <li class="bg-white rounded mr-2 mb-2 p-1">Origine du vélo: <span id="origine">{{ velo.getOrigine() }}</span></li>
            </ul>
        </div>
        <div class="">
            <ul class="">
                <div class="details-list bg-white rounded p-2">
                    <h1 class="text-xl font-bold text-center">Photo du vélo</h1>
                <li class=""><img class="rounded border-4 border-black h-auto max-w-lg ms-auto" src="{{ velo.getUrlPhoto() }}" alt="Photo du Vélo"/></li>
                <li class="text-xl font-bold">Propriétaire du Vélo</li>
                <li class="details-list">Nom et Prénom : <span id="nom_proprio">{{ velo.getProprietaire.getNomProprio() }}</span></li>
                <li class="details-list">Téléphone : <span id="telephone">{{ velo.getProprietaire.getTelephone() }}</span></li>
                <li class="details-list">E mail : <span id="email">{{ velo.getProprietaire.getEmail() }}</span></li>
                    </div>
                <div class="">
                <li class="bg-white  rounded mr-2 mt-2 mb-2 p-1">Date d'Enregistrement: <span>{{ velo.getDateDeEnregistrement()|date('Y-m-d') }}</span></li>
                <li class="details-list bg-white rounded mr-2 mb-2 p-1">Date de Vente: <input type="date" id="date_de_vente" value="{{ velo.getDateDeVente() ? velo.getDateDeVente()|date('Y-m-d') : '' }}"></li>
                <li class="details-list bg-white rounded mr-2 mb-2 p-1">Date de Destruction: <input type="date" id="date_destruction" value="{{ velo.getDateDestruction() ? velo.getDateDestruction()|date('Y-m-d') : '' }}"></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="flex flex-col-3 gap-2 mx-auto justify-center  items-center  mt-10">
        <a href="{{ path('app_accueil') }}" class="button-style">
            <i class="bi bi-box-arrow-left mr-1 text-xl"></i> Retour à l'accueil
        </a>
        <a href="{{ path('velo_info') }}" class="button-style">
            <i class="bi bi-box-arrow-left mr-1 text-xl"></i> Retour Liste vélos
        </a>
        <button type="button" class="button-style edit-button">
            <i class="bi bi-pen mr-1 text-xl"></i>Modifier
        </button>
        <button type="submit" class="button-style save-button">
            <i class="bi bi-box-arrow-down mr-1 text-xl"></i>Enregistrer
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let editMode = false;
            const editButton = document.querySelector('.edit-button');
            const saveButton = document.querySelector('.save-button');
            const fields = document.querySelectorAll('.details-list span');
            const fieldsDate = document.querySelectorAll('.details-list input');
            const optionalFields = ['taille_cadre', 'taille_roues', 'ref_recyclerie', 'poids'];

            function toggleEditMode() {
                editMode = !editMode;
                fields.forEach(field => {
                    field.setAttribute('contenteditable', editMode ? 'true' : 'false');
                });
            }

            editButton.addEventListener('click', toggleEditMode);

            saveButton.addEventListener('click', function() {
                if (editMode) {
                    const data = {};

                    fields.forEach(field => {
                        if (field.getAttribute('contenteditable') === 'true') {
                            let propName = field.id;
                            propName = propName.replace(/_([a-z])/g, function (g) { return g[1].toUpperCase(); });
                            let value = field.innerText.trim();
                            data[propName] = value;
                        }
                    });

                    fieldsDate.forEach(field => {
                        let propName = field.id;
                        propName = propName.replace(/_([a-z])/g, function (g) { return g[1].toUpperCase(); });
                        data[propName] = field.value;
                    });

                    fetch(`/api/update-velo/{{ velo.id }}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': '{{ csrf_token('edit_velo') }}'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Something went wrong on the server!');
                            }
                            return response.json();
                        })
                        .then(responseData => {
                            console.log('Data saved successfully:', responseData);
                            toggleEditMode();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Une erreur est survenue lors de l\'enregistrement des données.');
                        });
                }
            });
        });
    </script>
{% endblock %}
