{% extends 'base.html.twig' %}

{% block title %}Détails du Vélo{% endblock %}

{% block body %}
    <h1>Détails du Vélo</h1>
    <ul>

        <li>Marque: {{ velo.marque }}</li>
        <li>Référence recyclerie: {{ velo.getRefRecyclerie()}}</li>
        <li>Couleur: {{ velo.couleur }}</li>
        <li>Poids: {{ velo.poids }}</li>
        <li>Taille des Roues: {{ velo.getTailleRoues() }}</li>
        <li>Taille du Cadre: {{ velo.getTailleCadre() }}</li>
        <li>État: {{ velo.etat }}</li>
        <li>URL Photo: {{ velo.getUrlPhoto()}}</li>
        <li>Date de Réception: {{ velo.getDateDeReception()|date('Y-m-d') }}</li>
        <li>Date de Vente: {{ velo.getDateDeVente()|date('Y-m-d') }}</li>
        <li>Type: {{ velo.type }}</li>
        <li>Année: {{ velo.annee }}</li>
        <li>Emplacement: {{ velo.emplacement }}</li>
        <li>Commentaire: {{ velo.commentaire }}</li>
        <li>Propriétaire ID: {{ velo.getProprietaireId() }}</li>


        <p>Ce vélo n'a pas de propriétaire actuellement.</p>

{% endblock %}
