{% extends 'base.html.twig' %}

{% block title %}Détails du Vélo{% endblock %}



{% block body %}
    <style>
        span[contenteditable="true"] {
            background-color: #ffffe0;
            outline: 2px solid #4caf50;
            border-radius: 5px;
            padding: 3px;
            cursor: text;
            margin-left: 3px;
        }
    </style>
    <h1 class="text-center text-lg font-semibold">Modifier le vélo {{ velo.getRefRecyclerie() }}</h1>
    <div class="flex flex-col-2 gap-4 container mx-auto justify-center items-center bg-teal-500 border shadow-lg border-black rounded p-4 max-w-5xl mt-5">
        <div class="">
            <h1 class="text-center">Détails du Vélo</h1>
            <ul class="details-list">
                <li class="bg-white rounded mr-2 mb-2">Marque: <span id="marque">{{ velo.marque }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Numéro de série: <span id="numero_de_serie">{{ velo.getNumeroDeSerie() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Référence recyclerie: <span id="ref_recyclerie">{{ velo.getRefRecyclerie() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Couleur: <span id="couleur">{{ velo.couleur }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Poids: <span id="poids">{{ velo.poids }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Taille des Roues: <span id="taille_roues">{{ velo.getTailleRoues() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">État: <span id="etat">{{ velo.etat }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Origine du vélo: <span id="origine">{{ velo.getOrigine() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Bicycode: <span id="bicycode">{{ velo.getBicycode() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Date d'Enregistrement: <span>{{ velo.getDateDeEnregistrement()|date('Y-m-d') }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Date de Vente: <input type="date" id="date_de_vente" value="{{ velo.getDateDeVente() ? velo.getDateDeVente()|date('Y-m-d') : '' }}"></li>
                <li class="bg-white rounded mr-2 mb-2">Date de Destruction: <input type="date" id="date_destruction" value="{{ velo.getDateDestruction() ? velo.getDateDestruction()|date('Y-m-d') : '' }}"></li>
                <li class="bg-white rounded mr-2 mb-2">Taille du Cadre: <span id="taille_cadre">{{ velo.getTailleCadre() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Type: <span id="type">{{ velo.type }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Emplacement: <span id="emplacement">{{ velo.emplacement }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Public: <span id="public">{{ velo.getPublic() }}</span></li>
                <li class="bg-white rounded mr-2 mb-2">Commentaire: <span id="commentaire">{{ velo.commentaire }}</span></li>
            </ul>
        </div>
        <div class="">
            <ul class="details-list ">
                <li class=""><img class="rounded border-4 border-black h-auto max-w-lg ms-auto" src="{{ velo.getUrlPhoto() }}" alt="Photo du Vélo"/></li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col-3 gap-2 mx-auto justify-center  items-center  mt-10">
        <a href="{{ path('app_accueil') }}" class="button-style">
            <i class="bi bi-box-arrow-left mr-1 text-xl"></i> Retour à l'accueil
        </a>
        <button type="button" class="button-style edit-button">
            <i class="bi bi-pen mr-1 text-xl"></i>Modifier
        </button>
        <button type="submit" class="button-style save-button">
            <i class="bi bi-box-arrow-down mr-1 text-xl"></i>Enregistrer
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let editMode = false;
            const editButton = document.querySelector('.edit-button');
            const saveButton = document.querySelector('.save-button');
            const fields = document.querySelectorAll('.details-list span');
            const optionalFields = ['taille_cadre', 'taille_roues', 'ref_recyclerie', 'poids'];

            function toggleEditMode() {
                editMode = !editMode;
                fields.forEach(field => {
                    field.setAttribute('contenteditable', editMode ? 'true' : 'false');
                });
            }

            editButton.addEventListener('click', toggleEditMode);

            saveButton.addEventListener('click', function() {
                if (editMode) {
                    const data = {};

                    fields.forEach(field => {
                        if (field.getAttribute('contenteditable') === 'true') {
                            let propName = field.id;
                            propName = propName.replace(/_([a-z])/g, function (g) { return g[1].toUpperCase(); });
                            let value = field.innerText.trim();
                            data[propName] = value;
                        }
                    });

                    fetch(`/api/update-velo/{{ velo.id }}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-Token': '{{ csrf_token('edit_velo') }}'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Something went wrong on the server!');
                            }
                            return response.json();
                        })
                        .then(responseData => {
                            console.log('Data saved successfully:', responseData);
                            toggleEditMode();
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Une erreur est survenue lors de l\'enregistrement des données.');
                        });
                }
            });
        });
    </script>
{% endblock %}

{#{% block stylesheets %}#}
{#    <style>#}
{#        .details-container #}{#}#}
{#            display: flex;#}
{#            gap: 25px;#}
{#            background-color: rgb(20 184 166);#}
{#            padding: 30px;#}
{#            border-radius: 8px;#}
{#            max-width: 1000px;#}
{#            margin: 20px auto;#}
{#            box-shadow: 0 4px 8px rgba(0,0,0,0.1);#}
{#            align-items: stretch;#}
{#        }#}

{#        .column-left, .column-right #}{#}#}
{#            flex: 1;#}
{#        }#}
{#        .details-list #}{#}#}
{#            list-style-type: none;#}
{#            padding: 0;#}
{#            margin: 0;#}
{#        }#}
{#        .column-right #}{#}#}
{#            margin-top: 91px;#}
{#        }#}


{#        .details-list li #}{#}#}
{#            background-color: #eef7ee;#}
{#            margin-bottom: 10px;#}
{#            padding: 10px;#}
{#            border-radius: 4px;#}
{#            border: 1px solid #d4e8d4;#}
{#        }#}

{#        .text-4xl #}{#}#}
{#            font-size: 2.25rem;#}
{#        }#}
{#        .cont-boutons #}{#}#}
{#            text-align: center;#}
{#        }#}
{#        .btn-green #}{#}#}
{#            display: inline-block;#}
{#            background-color: rgb(20 184 166);#}
{#            border: 0;#}
{#            color: white;#}
{#            padding: 15px 25px;#}
{#            text-decoration: none;#}
{#            border-radius: 5px;#}
{#            cursor: pointer;#}
{#            font-weight: bold;#}
{#            transition: background-color 200ms;#}
{#            font-family: sans-serif;#}
{#            font-size: 1rem;#}
{#            margin: 0 8px;#}

{#        }#}

{#        .btn-green:hover #}{#}#}
{#            background-color: rgb(74 222 128);#}
{#        }#}

{#        @media (max-width: 768px) #}{#}#}
{#            .details-container #}{#}#}
{#                flex-direction: column;#}
{#            }#}

{#            .column-left, .column-right #}{#}#}
{#                width: 100%;#}
{#            }#}
{#        }#}

{#        span[contenteditable="true"] #}{#}#}
{#            background-color: #ffffe0;#}
{#            outline: 2px solid #4caf50;#}
{#            padding: 3px;#}
{#            cursor: text;#}
{#        }#}
{#    </style>#}
{#{% endblock %}#}
