{% extends 'base.html.twig' %}

{% block body %}

    <!--Notification en cas de réussite !-->
    {% for message in app.flashes('success') %}
        <div class="fixed top-5 right-0 z-50 bg-white border border-gray-200 rounded-lg shadow-lg p-4 flex items-center gap-3 slide-in" id="flash-message">
            <div class="text-green-500">
                <i class="bi bi-check-circle-fill text-green-500 text-xl"></i>
            </div>
            <div>
                <p class="text-sm font-semibold text-gray-800">{{ message }}</p>
            </div>
            <button
                type="button"
                class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center"
                onclick="hideFlashMessage()"
            >
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    {% endfor %}
    <!--Notification en cas d'erreur !-->
    {% for message in app.flashes('error') %}
        <div class="fixed top-5 right-0 z-50 bg-white border border-red-200 rounded-lg shadow-lg p-4 flex items-center gap-3 slide-in" id="flash-message">
            <div class="text-red-500">
                <i class="bi bi-x-circle-fill text-red-500 text-xl"></i>
            </div>
            <div>
                <p class="text-sm font-semibold text-gray-800">{{ message }}</p>
            </div>
            <button
                type="button"
                class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg p-1.5 ml-auto inline-flex items-center"
                onclick="hideFlashMessage()"
            >
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    {% endfor %}

        <style>
    
        /* Animation Slide-In */
        @keyframes slideIn {
            from {
                transform: translateX(100%); 
            }
            to {
                transform: translateX(0);
            }
        }

        /* Animation Slide-Out */
        @keyframes slideOut {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(100%);
            }
        }

        /* Classe d'animation */
        .slide-in {
            animation: slideIn 0.5s ease-out forwards;
        }

        .slide-out {
            animation: slideOut 0.5s ease-in forwards;
        }
    </style>

    <div class="container mx-auto px-4">
        <div class="text-center my-8">
            <h1 class="text-4xl font-bold text-gray-800">Liste des Elements de Controles</h1>
            <a href="/new/element/control" class="bg-teal-500 text-white py-2 px-4 rounded hover:bg-teal-600">
                <i class="bi bi-plus-circle-fill text-xl"></i> Ajouter un Element de controle
            </a>
        </div>

        <div class="grid grid-cols-4 gap-3">
            {% for category, elements in categorizedElements %}
                <div class="bg-white rounded-lg shadow-md p-4">
                    <h2 class="text-xl font-semibold text-gray-700">{{ category }}</h2>
                    <ul class="list-disc list-inside">
                        {% for element in elements %}
                            <li class="text-gray-600">{{ element.getElement() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="ml-10 justify-center content-center">
                <a href="{{ path('app_dashboard') }}" class="button-style hover:bg-green-400"  ><i class="bi bi-box-arrow-left text-xl"></i> Retour au tableau de bord</a>
            </div>
        </div>
    </div>
    <script>

         function hideFlashMessage() {
            const flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.classList.remove('slide-in');
                flashMessage.classList.add('slide-out');

                setTimeout(() => {
                    flashMessage.remove();
                }, 500); 
            }
        }
        
        setTimeout(() => {
            hideFlashMessage();
        }, 5000);

        function hideErrorNotification() {
            const errorNotification = document.getElementById('error-notification');
            if (errorNotification) {
                errorNotification.classList.remove('slide-in');
                errorNotification.classList.add('slide-out');

                setTimeout(() => {
                    errorNotification.remove();
                }, 500);
            }
        }

        setTimeout(() => {
            hideErrorNotification();
        }, 7000);

    </script>
{% endblock %}


