{% extends 'base.html.twig' %}

{% block body %}
    <div class="fixed top-0 left-0">
        <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
    </div>
    <div class="fixed top-0 right-0">
        <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo" class="">
    </div>
    <div class="container mx-auto">

        <h1 class="text-3xl font-bold text-center text-black mb-8">Liste des vélos</h1>

        <div class="relative overflow-x shadow-md sm:rounded-lg tab_ctn">
            {% if pagination|length > 0 %}
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3" style="width:12rem;">
                        <span style="margin-bottom: 4px;">Propriétaire</span>
                        <input type="text" id="searchOwner" onkeyup="filterByOwner()" placeholder="Recherche..." class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 sm:text-sm">
                    </th>
                    <th scope="col" class="px-6 py-3" style="width:12rem;">
                        <span style="margin-bottom: 4px;">Numéro de série</span>
                        <input type="text" id="searchSerial" onkeyup="filterBySerial()" placeholder="Recherche..." class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 sm:text-sm">
                    </th>
                    <th scope="col" class="px-6 py-3" style="width:12rem;">
                        <span style="margin-bottom: 4px;">Référence recyclerie</span>
                        <input type="text" id="searchInput" onkeyup="filterByReference()" placeholder="Recherche..." class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 sm:text-sm">
                    </th>
                    <th scope="col" class="px-6 py-3" >
                        Marque
                        <div style="position: relative; display: inline-block;">
                            <button onclick="toggleDropdown('dropdownMarque')" style="background: none; border: none; cursor: pointer;">▼</button>
                            <div id="dropdownMarque" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('marque', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for marque in marques_uniques %}
                                    <a href="#" onclick="filterRows('marque', '{{ marque }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ marque }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Couleur
                        <div style="position: relative; display: inline-block;">
                            <button onclick="toggleDropdown('dropdownCouleur')" style="background: none; border: none; cursor: pointer;">▼</button>
                            <div id="dropdownCouleur" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('couleur', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for couleur in couleurs_uniques %}
                                    <a href="#" onclick="filterRows('couleur', '{{ couleur }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ couleur }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Type
                        <div style="position: relative; display: inline-block;">
                            <button onclick="toggleDropdown('dropdownType')" style="background: none; border: none; cursor: pointer;">▼</button>
                            <div id="dropdownType" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('type', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for type in types_uniques %}
                                    <a href="#" onclick="filterRows('type', '{{ type }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ type }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Public
                        <div style="position: relative; display: inline-block;">
                            <button onclick="toggleDropdown('dropdownPublic')" style="background: none; border: none; cursor: pointer;">▼</button>
                            <div id="dropdownPublic" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('public', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for public in publics_uniques %}
                                    <a href="#" onclick="filterRows('public', '{{ public }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ public }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">Date d'enregistrement</th>
                    <th scope="col" class="px-6 py-3">Date de vente</th>
                    <th scope="col" class="px-6 py-3">Conclusion</th>
                    <th scope="col" class="px-6 py-3">Date de destruction</th>
                    <th scope="col" class="px-6 py-3">Diagnostics</th>


                </thead>
                <tbody>
                {% for velo in pagination %}
                    <tr class="bg-white border-b"
                        data-type="{{ velo.type }}" data-public="{{ velo.public }}" data-marque="{{ velo.marque }}" data-couleur="{{ velo.couleur }}">
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.nom_proprio }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.numero_de_serie }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.ref_recyclerie }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.marque }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.couleur }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.type }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.public }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ velo.date_de_enregistrement|date('d/m/Y') }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">
                            {% if velo.date_de_vente is not null %}
                                {{ velo.date_de_vente|date('d/m/Y') }}
                            {%  endif %}
                        <td class="px-6 py-4 border-r border-b border-gray-300">
                            {% set necessiteReparation = false %}
                            {% if diagnostics[velo.id] is defined %}
                                {% set lastDiagnostic = diagnostics[velo.id]|last %}
                                {% if lastDiagnostic.conclusion is defined %}
                                    {% if lastDiagnostic.conclusion == 'à réparer' %}
                                        {{ 'À réparer' }}
                                    {% elseif lastDiagnostic.conclusion == 'pour pièces' %}
                                        {{ 'Pour pièces' }}
                                    {% elseif lastDiagnostic.conclusion == 'R.A.S' %}
                                        {{ 'R.A.S' }}
                                    {% elseif lastDiagnostic.conclusion == "" %}
                                        {{ 'Non commencé' }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>

                        <td class="px-6 py-4 border-r border-b border-gray-300">
                            {% if velo.date_destruction is not null %}
                                {{ velo.date_destruction|date('d/m/Y') }}
                            {%  endif %}
                        </td>
                        <td class="px-6 py-4">
                            <button data-modal-target="modal-{{ velo.id }}" data-modal-toggle="modal-{{ velo.id }}" class="block bg-teal-500 rounded-lg text-sm px-3 py-2 text-center w-full text-white" type="button">
                                Voir
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination mx-auto justify-center">
                {{ knp_pagination_render(pagination) }}
            </div>
            {% else %}
                <div class="text-center py-8">
                    <p class="text-gray-500 text-lg">Aucun vélo trouvé.</p>
                </div>
            {% endif %}
        </div>
        <div class="details-container text-center mt-4">
            <a href="{{ path('app_accueil') }}" class="button-style">Retour à l'accueil</a>
        </div>
    </div>


    {% for velo in pagination %}
        <div id="modal-{{ velo.id }}" tabindex="-1" aria-hidden="true" class="hidden pt-10 fixed z-50 items-center justify-center md:inset-0 modal-backdrop">
            <div class="relative max-w-5xl justify-center items-center mx-auto">
                <div class="bg-white rounded-lg overflow-y-auto">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b ">
                        <h3 class="text-xl text-center font-semibold text-gray-900">
                            Diagnostics  de marque {{ velo.marque }} type {{ velo.type }} - Ref : {{ velo.ref_recyclerie }} - Reçu le : {{ velo.date_de_enregistrement|date('Y-m-d') }}
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-{{ velo.id }}">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    {% if diagnostics[velo.id] is defined %}
                        {% for diagnostic in diagnostics[velo.id] %}
                            <div class="bg-gray-100 rounded p-5  mb-4 mt-4 text-center">
                                <h4><strong>Diagnostic {{ loop.index }}:</strong></h4>
                                <p><strong>Date Diagnostic:</strong> {{ diagnostic.getDateDiagnostic() is not null ? diagnostic.getDateDiagnostic()|date('Y-m-d') : 'Non disponible' }}</p>
                                 <p><strong>Type de Diagnostic:</strong> {{ diagnostic.getDiagnosticType() is not null ? diagnostic.getDiagnosticType().getNomType() : 'Non disponible' }}</p>
                                <p><strong>Coût Réparation:</strong> {{ diagnostic.getCoutReparation() is not null ? diagnostic.getCoutReparation() : 'Aucun' }}</p>
                                <p><strong>Conclusion:</strong> {{ diagnostic.getConclusion() is not null ? diagnostic.getConclusion() : 'Aucun' }}</p>
                                <p class="mb-3"><strong>Status:</strong> {{ diagnostic.getStatus() is not null ? diagnostic.getStatus() : 'Non défini' }}</p>
                                <a class="bg-teal-500 p-2 rounded text-white" href="/diagnostic/{{ diagnostic.getId() is not null ? diagnostic.getId() }}">Voir diagnostic</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-5 rounded-lg mb-3 text-center">
                            <p class="text-center m-5">Pas de diagnostics.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}


    <style>
        h1{
            margin-top: 7rem;
        }
        .py-3{
            vertical-align: top;
        }

        .px-6 {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }

        .tab_ctn{
            width: 95%;
            margin: auto;
        }

        .tab_ctn td:first-child, .tab_ctn th:first-child{
            padding:0.5rem;
        }

        .modal-backdrop {
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            height: 100vh;
            z-index: 50;

        }

    </style>

    <script>

        function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }

        function filterRows(attribute, value) {
            const rows = document.querySelectorAll("tbody tr");
            rows.forEach(row => {
                const attrValue = row.getAttribute('data-' + attribute);
                row.style.display = value === "" || attrValue === value ? "" : "none";
            });
            document.querySelectorAll('.dropdown-content').forEach(dropdown => {
                dropdown.style.display = 'none';
            });
        }

        function hover(element, isHovering) {
            if (isHovering) {
                element.style.backgroundColor = '#e0e0e0';
            } else {
                element.style.backgroundColor = '#f9f9f9';
            }
        }

        function filterByReference() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        function filterBySerial() {
            var input = document.getElementById("searchSerial");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        function filterByOwner() {
            var input = document.getElementById("searchOwner");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const openModalButtons = document.querySelectorAll('[data-modal-toggle]');
            const closeModalButtons = document.querySelectorAll('[data-modal-hide]');
            const modalBackdrops = document.querySelectorAll('.modal-backdrop');

            openModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-toggle');
                    const modal = document.getElementById(modalId);
                    modal.classList.remove('hidden');
                });
            });

            closeModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-hide');
                    const modal = document.getElementById(modalId);
                    modal.classList.add('hidden');
                });
            });

            modalBackdrops.forEach(backdrop => {
                backdrop.addEventListener('click', (event) => {
                    // Check if the clicked element is the backdrop itself
                    if (event.target === backdrop) {
                        const modalId = backdrop.getAttribute('id');
                        const modal = document.getElementById(modalId);
                        modal.classList.add('hidden');
                    }
                });
            });
        });
        document.addEventListener("click", (event) => {
            const clickedElement = event.target;
            const isBackdrop = clickedElement.classList.contains("modal-backdrop");
            if (isBackdrop) {
                const modalId = clickedElement.getAttribute("id");
                const modal = document.getElementById(modalId);
                modal.classList.add("hidden");
            }
        });

    </script>

{% endblock %}
