{% extends 'base.html.twig' %}

{% block body %}
    <header class="relative w-full top-0 left-0 flex justify-between items-center">
        <div id="headerLogoTissebands">
            <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
        </div>

        {% if lieu %}
            <div>{{ lieu.nom }}</div>
            <div class="text-sm text-gray-600">{{ lieu.nomType }}</div>
            <div class="text-sm text-gray-600">{{ lieu.adresse }}</div>
            <div class="text-sm text-gray-600">{{ lieu.ville }}</div>
            <div class="text-sm text-gray-600">{{ lieu.codePostal }}</div>
        {% else %}
            <div class="text-red-500">Les informations sur le lieu ne sont pas disponibles.</div>
        {% endif %}


        <div id="headerLogoCite">
            <img src="{{ asset('images/nouveau log 1.png') }}" alt="LCDRLR Logo" class="">
        </div>
    </header>


    <main>
        <!--Mesage d'erreur sous la forme d'un pop-up!-->
        {% for message in app.session.flashbag().get('error') %}
        <div id="modal-erreur" role="dialog" aria-labelledby="modal-title" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto hidden">
            <div class="modal-backdrop fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity z-40" aria-hidden="true"></div>

            <div class="fixed inset-0 z-50 w-screen overflow-y-auto">
                <div class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">
                    <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">

                        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">

                                <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                                    <svg class="size-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                                    </svg>
                                </div>
                                <!-- Contenu du message -->
                                <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                    <h2 class="text-base font-bold text-red-600" id="modal-title">Erreur</h2>
                                    <div class="mt-2">
                                        <p class="text-base text-gray-900">{{ message }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                            <button onclick="window.location.href = '{{ path('app_accueil') }}';  " type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto cursor-pointer" data-modal-hide="modal-erreur">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="container mx-auto">

            <h1 class="text-3xl font-bold text-center text-black">Liste des vélos</h1>


            <div class="flex justify-center mb-3 mt-3">
                        <a href="{{ path('velo_new') }}" class="bg-teal-500 hover:bg-green-400 text-white rounded-lg px-4 py-2 text-sm shadow transition-colors duration-200 w-auto inline-flex items-center justify-center">
                            <i class="bi bi-plus text-lg mr-1"></i>
                            Créer un Vélo
                        </a>
                    </div>

            {% if pagination|length > 0 %}

                    <!-- Formulaire de filtrage -->
            <form method="get" action="{{ path('utilisateur_liste') }}" class="mb-4">
                <div class="flex flex-col space-y-4">

                    <div class="flex justify-center items-center w-full mt-4"> <!-- Adds space above the search bar -->
                        <div class="relative w-full max-w-lg">
                            <input type="text"
                                id="mainSearch"
                                name="ref_recyclerie"
                                placeholder="Propriétaire, Numéro de Série, Référence recyclerie"
                                class="border-none rounded-full pl-3 pr-12 py-3 shadow-md focus:outline-none text-gray-700 transition-colors duration-200 w-full"
                                style="border: 1px solid #E5E7EB; background-color: #F5F5F5;"
                                onkeyup="filterTable()">

                            <!-- Ensure the icon is positioned correctly on the right -->
                            <span class="absolute inset-y-0 right-0 pr-2 flex items-center pointer-events-none">
                <i class="bi bi-search text-gray-500"></i>
            </span>
                        </div>
                    </div>



                    <!-- Select elements -->
                    <div class="flex flex-wrap w-full space-y-2 sm:space-y-0">
                        <select name="marque" class="px-4 py-2 border rounded w-full sm:w-auto mr-4 mb-2" onchange="filterRows('marque', this.value)" style="cursor: pointer;">
                            <option value="" selected>Marques</option>
                            {% for marque in marques_uniques %}
                                <option value="{{ marque }}">{{ marque }}</option>
                            {% endfor %}
                        </select>
                        <select name="couleur" class="px-4 py-2 border rounded w-full sm:w-auto mr-4 mb-2" onchange="filterRows('couleur', this.value)" style="cursor: pointer;">
                            <option value="" selected>Couleurs</option>
                            {% for couleur in couleurs_uniques %}
                                <option value="{{ couleur }}">{{ couleur }}</option>
                            {% endfor %}
                        </select>
                        <select name="type" class="px-4 py-2 border rounded w-full sm:w-auto mr-4 mb-2" onchange="filterRows('type', this.value)" style="cursor: pointer;">
                            <option value="" selected>Types</option>
                            {% for type in types_uniques %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                        <select name="public" class="px-4 py-2 border rounded w-full sm:w-auto mr-4 mb-2" onchange="filterRows('public', this.value)" style="cursor: pointer;">
                            <option value="" selected>Publics</option>
                            {% for public in publics_uniques %}
                                <option value="{{ public }}">{{ public }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>




            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-2 py-3">ID</th>
                        <th scope="col" class="px-2 py-3">Propriétaire</th>
                        <th scope="col" class="px-2 py-3">Numéro de série</th>
                        <th scope="col" class="px-2 py-3">Référence recyclerie</th>
                        <th scope="col" class="px-2 py-3">Marque</th>
                        <th scope="col" class="px-2 py-3">Couleur</th>
                        <th scope="col" class="px-2 py-3">Type</th>
                        <th scope="col" class="px-2 py-3">Public</th>
                        <th scope="col" class="px-2 py-3">Date d'enregistrement</th>
                        <th scope="col" class="px-2 py-3">Date de vente</th>
                        <th scope="col" class="px-2 py-3">Date de destruction</th>
                        <th scope="col" class="px-2 py-3">Historique</th>
{#                        <th scope="col" class="px-2 py-3"> faire Diagnostic</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for velo in pagination %}
                        <tr class="bg-white border-b data-row" data-type="{{ velo.type }}" data-public="{{ velo.public }}" data-marque="{{ velo.marque }}" data-couleur="{{ velo.couleur }}">
                            <td class="px-6 py-4 border-r border-b border-gray-300">{{velo.id }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300" data-owner="{{ velo.nom_proprio }}">{{ velo.nom_proprio }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300" data-serial="{{ velo.numero_de_serie }}">{{ velo.numero_de_serie }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300" data-reference="{{ velo.ref_recyclerie }}">{{ velo.ref_recyclerie }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300">{{ velo.marque }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300">{{ velo.couleur }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300">{{ velo.type }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300">{{ velo.public }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300">{{ velo.date_de_enregistrement|date('d/m/Y') }}</td>
                            <td class="px-2 py-4 border-r border-b border-gray-300">
                                {% if velo.date_de_vente is not null %}
                                    {{ velo.date_de_vente|date('d/m/Y') }}
                                {% endif %}
                            </td>

                            <td class="px-2 py-4 border-r border-b border-gray-300">
                                {% if velo.date_destruction is not null %}
                                    {{ velo.date_destruction|date('d/m/Y') }}
                                {% endif %}
                            </td>
                            <td class="px-2 py-4">
                                <a href="{{ path('velo_edit', { 'id': velo.id }) }}" class="block bg-teal-500 rounded-lg text-sm px-3 py-2 text-center w-full text-white">
                                    Modifier
                                </a>
                            </td>
                            <td class="px-2 py-4">
                                <button data-modal-target="modal-{{ velo.id }}" data-modal-toggle="modal-{{ velo.id }}" class="block bg-teal-500 rounded-lg text-sm px-3 py-2 text-center w-full text-white" type="button">
                                    Voir
                                </button>
                            </td>
{#                        <td class="px-2 py-4">#}
{#                            <a href="{{ path('app_type_diagnostic', { 'id': velo.id }) }}" class="block bg-teal-500 rounded-lg text-sm px-3 py-2 text-center w-full text-white">#}
{#                                Faire#}
{#                            </a>#}
{#                        </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pagination mx-auto justify-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
                {% else %}
                    <div class="text-center py-8">
                        <p class="text-gray-500 text-lg">Aucun vélo trouvé.</p>
                    </div>
                {% endif %}
            </div>


            <div class="details-container text-center mt-4">
                <a href="{{ path('app_accueil') }}" class="button-style">Retour à l'accueil</a>
            </div>
        </div>


        {% for velo in pagination %}
        <div id="modal-{{ velo.id }}" tabindex="-1" aria-hidden="true" class="hidden pt-10 fixed z-50 items-center justify-center md:inset-0 modal-backdrop">
            <div class="relative max-w-5xl justify-center items-center mx-auto">
                <div class="bg-white rounded-lg overflow-y-auto">
                    <div class="flex items-center justify-between p-4 md:p-5 border-b">
                        <!-- Bouton de fermeture -->
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal-{{ velo.id }}">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>

                    <div class="text-center w-full">
                        <!-- Titre -->
                        <h3 class="text-xl font-semibold text-gray-900">Historique du vélo de {{ velo.nom_proprio }}</h3>

                        <!-- Section photo -->
                        <div class="mt-4">
                            {% if velo.url_photo is defined and velo.url_photo is not empty %}
                                <img src="{{ velo.url_photo }}" alt="Photo du vélo {{ velo.marque }}" class="mx-auto max-w-xs rounded shadow-md">
                            {% else %}
                                <img src="/path/to/default-image.jpg" alt="Image par défaut" class="mx-auto max-w-xs rounded shadow-md">
                            {% endif %}
                        </div>

                        <!-- Tableau des informations -->
                        <div class="mt-6">
                            <table class="table-auto border-collapse border border-gray-300 mx-auto text-center w-full">
                                <tbody>
                                <!-- Première section : Propriétaire, Marque, Type, Couleur -->
                                <tr class="bg-gray-100">
                                    <th class="border border-gray-300 px-4 py-2">Marque</th>
                                    <th class="border border-gray-300 px-4 py-2">Type</th>
                                    <th class="border border-gray-300 px-4 py-2">Couleur</th>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.marque }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.type }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.couleur }}</td>
                                </tr>

                                <!-- Deuxième section : Référence Recyclerie, Numéro de Série, Bicycode -->
                                <tr class="bg-gray-100">
                                    <th class="border border-gray-300 px-4 py-2">Référence Recyclerie</th>
                                    <th class="border border-gray-300 px-4 py-2">Numéro de Série</th>
                                    <th class="border border-gray-300 px-4 py-2">Bicycode</th>

                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.ref_recyclerie }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.numero_de_serie }}</td>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.bicycode }}</td>

                                </tr>

                                <!-- Troisième section : Dates -->
                                <tr class="bg-gray-100">
                                    <th class="border border-gray-300 px-4 py-2">Date de Réception</th>
                                    <th class="border border-gray-300 px-4 py-2">Date de Vente</th>
                                    <th class="border border-gray-300 px-4 py-2">Date de Destruction</th>

                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-4 py-2">{{ velo.date_de_enregistrement|date('d/m/Y') }}</td>
                                    <td class="px-2 py-4 border-r border-b border-gray-300">
                                        {% if velo.date_de_vente is not null %}
                                            {{ velo.date_de_vente|date('d/m/Y') }}
                                        {% endif %}
                                    </td>

                                    <td class="px-2 py-4 border-r border-b border-gray-300">
                                        {% if velo.date_destruction is not null %}
                                            {{ velo.date_destruction|date('d/m/Y') }}
                                        {% endif %}
                                    </td>

                                </tbody>
                            </table>
                        </div>


                        <!-- Section Diagnostics -->
                        <div class="mt-6">
                            {% if diagnostics[velo.id] is defined %}
                                {% for diagnostic in diagnostics[velo.id] %}
                                    <div class="bg-gray-100 rounded p-5 mb-4 text-center">
                                        <h4><strong>Diagnostic {{ loop.index }}:</strong></h4>
                                        <p><strong>Lieu:</strong> {{ diagnostic.typeLieu }}-{{ diagnostic.lieu.getNomLieu() }}-{{ diagnostic.lieu.getville() }} </p>
                                        <p><strong>Date Diagnostic:</strong> {{ diagnostic.getDateDiagnostic() is not null ? diagnostic.getDateDiagnostic()|date('d/m/Y') : 'Non disponible' }}</p>
                                        <p><strong>Type de Diagnostic:</strong> {{ diagnostic.getDiagnosticType() is not null ? diagnostic.getDiagnosticType().getNomType() : 'Non disponible' }}</p>
                                        <p><strong>Coût Réparation:</strong> {{ diagnostic.getCoutReparation() is not null ? diagnostic.getCoutReparation() : 'Aucun' }}</p>
                                        <p><strong>Conclusion:</strong> {{ diagnostic.getConclusion() is not null ? diagnostic.getConclusion() : 'Aucun' }}</p>
                                        <p class="mb-3"><strong>Status:</strong> {{ diagnostic.getStatus() is not null ? diagnostic.getStatus() : 'Non défini' }}</p>
                                        <a class="bg-teal-500 p-2 rounded text-white" href="/diagnostic/{{ diagnostic.getId() is not null ? diagnostic.getId() }}">Voir diagnostic</a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="p-5 rounded-lg mb-3 text-center">
                                    <p class="text-center m-5">Pas de diagnostics.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="fixed bottom-0 w-full bg-white">
        <div class="flex justify-center content-center">
            <img src="{{ asset('images/nouveau log 1.png') }}" alt="LCDRLR Logo" class="">
        </div>
    </footer>
    {% endfor %}


    <style>
        .py-3{
            vertical-align: top;
        }

        .px-6 {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }

        .tab_ctn td:first-child, .tab_ctn th:first-child{
            padding:0.5rem;
        }

        .modal-backdrop {
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            height: 100%;
            z-index: 50;
        }





    </style>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
            const modal = document.getElementById("modal-erreur");
            const closeModalButton = document.querySelector('[data-modal-hide="modal-erreur"]');

            if (modal) {
                modal.classList.remove("hidden");
                modal.classList.add("flex");
                setTimeout(() => {
                    window.location.href = "{{ path('app_accueil') }}";
            }, 6000);
            }

            closeModalButton.addEventListener("click", () => {
                modal.classList.add("hidden");
                modal.classList.remove("flex");

            });

        });

         // Fonction de recherche globale
            function filterTable() {
            const input = document.getElementById("mainSearch");
            const filter = input.value.toUpperCase();
            const rows = document.querySelectorAll("tbody tr");

            rows.forEach(row => {
            const ownerCell = row.querySelector("[data-owner]");
            const serialCell = row.querySelector("[data-serial]");
            const referenceCell = row.querySelector("[data-reference]");

            const ownerText = ownerCell ? ownerCell.textContent.toUpperCase() : "";
            const serialText = serialCell ? serialCell.textContent.toUpperCase() : "";
            const referenceText = referenceCell ? referenceCell.textContent.toUpperCase() : "";

            if (ownerText.includes(filter) || serialText.includes(filter) || referenceText.includes(filter)) {
            row.style.display = "";
        } else {
                row.style.display = "none";
            }
            });
            }



        function filterRows(attribute, value) {
            const rows = document.querySelectorAll("tbody tr");
            rows.forEach(row => {
                const attrValue = row.getAttribute('data-' + attribute);
                row.style.display = value === "" || attrValue === value ? "" : "none";
            });
        }


        document.addEventListener("DOMContentLoaded", () => {
            const openModalButtons = document.querySelectorAll('[data-modal-toggle]');
            const closeModalButtons = document.querySelectorAll('[data-modal-hide]');
            const modalBackdrops = document.querySelectorAll('.modal-backdrop');

            openModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-toggle');
                    const modal = document.getElementById(modalId);
                    modal.classList.remove('hidden');
                });
            });

            closeModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-hide');
                    const modal = document.getElementById(modalId);
                    modal.classList.add('hidden');
                });
            });

            modalBackdrops.forEach(backdrop => {
                backdrop.addEventListener('click', (event) => {
                    // Check if the clicked element is the backdrop itself
                    if (event.target === backdrop) {
                        const modalId = backdrop.getAttribute('id');
                        const modal = document.getElementById(modalId);
                        modal.classList.add('hidden');
                    }
                });
            });
        });
        document.addEventListener("click", (event) => {
            const clickedElement = event.target;
            const isBackdrop = clickedElement.classList.contains("modal-backdrop");
            if (isBackdrop) {
                const modalId = clickedElement.getAttribute("id");
                const modal = document.getElementById(modalId);
                modal.classList.add("hidden");
            }
        });

    </script>

{% endblock %}
