{% extends 'base.html.twig' %}

{% block body %}
    <div class="fixed top-0 left-0">
        <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="">
    </div>
    <div class="fixed top-0 right-0">
        <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo" class="">
    </div>
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-center text-black mb-6">Liste des vélos</h1>

        <div class="relative overflow-x shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Propriétaire
                        <input type="text" id="searchOwner" onkeyup="filterByOwner()" placeholder="Recherche..." class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500 sm:text-sm">
                    </th>
                    <th scope="col" class="px-6 py-3" style="display: flex; flex-direction: column; justify-content: center;">
                        <span style="margin-bottom: 4px;">Numéro de série</span>
                        <input type="text" id="searchSerial" onkeyup="filterBySerial()" placeholder="Recherche..." class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md sshadow-sm focus:outline-none focus:border-indigo-500 sm:text-sm">
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div style="display: flex; flex-direction: column; align-items: start;">
                            <span>Référence recyclerie</span>
                            <input type="text" id="searchInput" onkeyup="filterByReference()" placeholder="Recherche..." class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md sshadow-sm focus:outline-none focus:border-indigo-500 sm:text-sm">
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">Marque</th>
                    <th scope="col" class="px-6 py-3">Couleur</th>
                    <th scope="col" class="px-6 py-3">
                        Type
                        <div style="position: relative; display: inline-block;">
                            <button onclick="toggleDropdown('dropdownType')" style="background: none; border: none; cursor: pointer;">▼</button>
                            <div id="dropdownType" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                {% for type in ['Tout', 'BMX', 'Course', 'Gravel', 'Pliable', 'Ville', 'VTC', 'VTT', 'Autre'] %}
                                    <a href="#" onclick="filterRows('type', '{{ type == 'Tout' ? '' : type }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ type }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Public
                        <div style="position: relative; display: inline-block;">
                            <button onclick="toggleDropdown('dropdownPublic')" style="background: none; border: none; cursor: pointer;">▼</button>
                            <div id="dropdownPublic" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                {% for public in ['Tout', 'Femme', 'Homme', 'Enfant', 'Unisexe'] %}
                                    <a href="#" onclick="filterRows('public', '{{ public == 'Tout' ? '' : public }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ public }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">Date de Réception</th>
                    <th scope="col" class="px-6 py-3">Date de vente</th>
                    <th scope="col" class="px-6 py-3">Date de destruction</th>
                </tr>
                </thead>
                <tbody>
                {% for velo in pagination %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" data-type="{{ velo.type }}" data-public="{{ velo.public }}">
                        <td class="px-6 py-4">{{ velo.nom_proprio }}</td>
                        <td class="px-6 py-4">{{ velo.numero_de_serie }}</td>
                        <td class="px-6 py-4">{{ velo.ref_recyclerie }}</td>
                        <td class="px-6 py-4">{{ velo.marque }}</td>
                        <td class="px-6 py-4">{{ velo.couleur }}</td>
                        <td class="px-6 py-4">{{ velo.type }}</td>
                        <td class="px-6 py-4">{{ velo.public }}</td>
                        <td class="px-6 py-4">{{ velo.date_de_reception|date('d/m/Y') }}</td>
                        <td class="px-6 py-4">{{ velo.date_de_vente|date('d/m/Y') }}</td>
                        <td class="px-6 py-4">{{ velo.date_destruction|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="details-container text-center mt-4">
            <a href="{{ path('app_accueil') }}" class="button-style">Retour à l'accueil</a>
        </div>
        <div class="pagination mx-auto justify-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        </div>
    </div>

    <script>
        function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }

        function filterRows(attribute, value) {
            const rows = document.querySelectorAll("tbody tr");
            rows.forEach(row => {
                const attrValue = row.getAttribute('data-' + attribute);
                row.style.display = value === "" || attrValue === value ? "" : "none";
            });
            document.querySelectorAll('.dropdown-content').forEach(dropdown => {
                dropdown.style.display = 'none';
            });
        }

        function hover(element, isHovering) {
            if (isHovering) {
                element.style.backgroundColor = '#e0e0e0';
            } else {
                element.style.backgroundColor = '#f9f9f9';
            }
        }

        function filterByReference() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        function filterBySerial() {
            var input = document.getElementById("searchSerial");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        function filterByOwner() {
            var input = document.getElementById("searchOwner");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0]; // Assurez-vous que c'est la bonne colonne pour le propriétaire
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

    </script>
{% endblock %}
