{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="fixed top-0 left-0">
            <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
        </div>
        <div class="fixed top-0 right-0">
            <img src="{{ asset('images/LCDRRblanc.png') }}" alt="LCDRLR Logo" class="">
        </div>

        <div class="container max-w-lg mx-auto p-8 bg-white shadow-lg rounded-lg">
            <h1 class="text-2xl font-bold text-center text-gray-800 mb-8">Tableau de Bord</h1>
            <div class="grid grid-cols-1 gap-4">
                <a href="{{ path('utilisateur_liste') }}" class="p-6 bg-teal-500 hover:bg-teal-400 text-white rounded-lg shadow-md">
                    <h2 class="text-lg font-semibold">Utilisateurs.</h2>
                    <p class="text-sm">Ajouter , supprimer , modifier des utilisateurs.</p>
                </a>
                <a href="{{ path('app_dashboard_element_control') }}" class="p-6 bg-teal-500 hover:bg-teal-400 text-white rounded-lg shadow-md">
                    <h2 class="text-lg font-semibold">Elements de Controles</h2>
                    <p class="text-sm">Ajouter , modifier des élements de controles.</p>
                </a>
                <a href="{{ path('app_type_diagnostic_liste') }}" class="p-6 bg-teal-500 hover:bg-teal-400 text-white rounded-lg shadow-md">
                    <h2 class="text-lg font-semibold">Types de diagnostics</h2>
                    <p class="text-sm">Ajouter , modifier , désactiver/activer des types de diagnostics.</p>
                </a>
            </div>
            <div class="mt-6 flex justify-center">
                <a href="{{ path('app_accueil') }}" class="button-style hover:bg-green-400"><i class="bi bi-box-arrow-left text-xl mr-1"></i>Retour a l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}


