{% extends 'base.html.twig' %}

{% block title %}
    Éléments de diagnostic pour {{ typeDiagnostic.nomType }}
{% endblock %}

{% block body %}

    <style>
        input[type=radio]:focus + label {
            background-color: rgb(20 184 166 );
            border-radius: 10px;
            padding: 5px;
            color: white;
        }

        input[type=radio]:checked + label::before {
            background-color: rgb(20 184 166 );
            border-radius: 10px;
            padding: 5px;
        }

        input[type=radio] + label {
            position: relative;
            cursor: pointer;
            display: inline-block;
            margin: 5px;
            border-radius: 10px;
            padding: 5px;
        }

        input[type=radio]:checked + label,
        input[type=radio] + label.selected {
            background-color: rgb(20 184 166 );
            border-radius: 10px;
            padding: 5px;
            color: white;
        }
        }
    </style>

    <div class="container shadow-2xl p-2 mt-3 mx-auto px-4 max-w-xl text-center">
        <h1 class="text-xl font-semibold text-gray-700 text-center portrait:text-3xl">Nouveau Diagnostic {{ typeDiagnostic.nomType }}</h1>
        {{ form_start(diagnosticForm, {'attr': {'class': 'space-y-3 portrait:space-y-6'}}) }}

        <div class="grid grid-cols-3 md:grid-cols-3 gap-1 mb-6 border text-sm portrait:text-2xl">
            <div>{{ form_row(diagnosticForm.cout_reparation, {'attr': {'class': 'form-control mb-2 mt-4 h-6 w-16 p-2 border rounded border-black portrait:h-10'}}) }}</div>
            <div>{{ form_row(diagnosticForm.velo, {'attr': {'class': 'form-control border mb-2 mt-4'}}) }}</div>
            <div>{{ form_row(diagnosticForm.utilisateur, {'attr': {'class': 'form-control border mb-2 mt-4'}}) }}</div>
        </div>

        {% for category, elements in diagnosticElements %}
            <div class="mb-2 text-center">
                <h2 onclick="toggleSection(event)" class="flex justify-between items-center text-lg font-semibold cursor-pointer rounded-xl text-white portrait:text-3xl category-header" aria-expanded="false">
                    <div class="flex-1 text-center">{{ category }}</div>
                    <i class="bi bi-chevron-down mr-1"></i>
                </h2>
                <div class="mt-2 bg-gray-100 p-2 rounded shadow hidden transition-all ease-in-out duration-300 portrait:text-2xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 category-section">
                    {% for element in elements %}
                        <div class="card bg-white rounded-lg shadow-lg overflow-hidden mb-2">
                            <div class="">
                                <div class="form-group mb-3">
                                    <div class="font-bold">
                                        {{ form_label(attribute(diagnosticForm, 'etat_' ~ element.id)) }}
                                    </div>
                                    <div class="flex justify-center items-center mt-2 space-x-2">
                                        {{ form_widget(attribute(diagnosticForm, 'etat_' ~ element.id), {'attr': {'id': 'etat_' ~ element.id, 'class': 'hidden-radio-button'}}) }}
                                        <label for="etat_{{ element.id }}" class="custom-radio-label">
                                        </label>
                                        {{ form_errors(attribute(diagnosticForm, 'etat_' ~ element.id)) }}
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    {{ form_label(attribute(diagnosticForm, 'commentaire_' ~ element.id)) }}
                                    {{ form_widget(attribute(diagnosticForm, 'commentaire_' ~ element.id), {'attr': {'class': 'form-control w-full border border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded'}}) }}
                                    {{ form_errors(attribute(diagnosticForm, 'commentaire_' ~ element.id)) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="mb-6 text-center">
            {{ form_row(diagnosticForm.conclusion, {'label_attr': {'class': 'text-sm portrait:text-2xl'}, 'attr': {'class': 'space-x-4'}}) }}
        </div>

        <button type="submit" class="w-full mt-4 py-2 px-4 bg-teal-500 hover:bg-indigo-700 text-white font-medium rounded-md" id="submit-button" style="display: none;">Sauvegarder</button>
        {{ form_end(diagnosticForm) }}
    </div>

    <!-- Modal Structure -->
    <div id="success-modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-4 rounded shadow-lg text-center">
            <h2 class="text-2xl font-semibold mb-4">Modifications enregistrées avec succès !</h2>
            <button id="close-modal" class="bg-teal-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded">Fermer</button>
        </div>
    </div>

    <div class="details-container text-center mt-4">
        <a href="{{ path('app_accueil') }}" class="button-style">Retour à l'accueil sans enregistrer les modifications</a>
    </div>

    <script>
        var btns = document.querySelectorAll('.btn-group .btn');

        // Ajouter un écouteur d'événement à chaque bouton
        btns.forEach(function(btn) {
            btn.addEventListener('click', function() {
                // Désélectionner tous les boutons
                btns.forEach(function(otherBtn) {
                    otherBtn.classList.remove('active');
                    otherBtn.querySelector('input').checked = false;
                });

                // Sélectionner le bouton cliqué
                btn.classList.add('active');
                btn.querySelector('input').checked = true;
            });
        });

        function toggleSection(event) {
            const currentHeader = event.currentTarget;
            const currentSection = currentHeader.nextElementSibling;
            const allSections = document.querySelectorAll('.category-section');

            allSections.forEach(section => {
                if (section !== currentSection && !section.classList.contains('hidden')) {
                    section.classList.add('hidden');
                    section.previousElementSibling.setAttribute('aria-expanded', 'false');
                }
            });

            const expanded = currentHeader.getAttribute('aria-expanded') === 'true';
            currentHeader.setAttribute('aria-expanded', !expanded);
            currentSection.classList.toggle('hidden');
        }

        function checkDiagnosticsFilled() {
            const allSections = document.querySelectorAll('.category-section');
            let diagnosticsFilled = false;

            allSections.forEach(section => {
                const radios = section.querySelectorAll('input[type=radio]');
                if (Array.from(radios).some(radio => radio.checked)) {
                    diagnosticsFilled = true;
                }
            });

            return diagnosticsFilled;
        }

        function updateCategoryBackground() {
            const diagnosticsFilled = checkDiagnosticsFilled();
            const submitButton = document.getElementById('submit-button');

            if (diagnosticsFilled) {
                submitButton.style.display = 'block';
            } else {
                submitButton.style.display = 'none';
            }

            document.querySelectorAll('.category-header').forEach(header => {
                const sections = header.nextElementSibling.querySelectorAll('.form-group');
                const total = sections.length;
                let filled = 0;

                sections.forEach(section => {
                    const radios = section.querySelectorAll('input[type=radio]');
                    if (Array.from(radios).some(radio => radio.checked)) {
                        filled++;
                    }
                });

                if (filled === 0) {
                    header.style.backgroundColor = '#ff0000'; // Red
                } else if (filled < total/2) {
                    header.style.backgroundColor = '#fbb100'; // Orange
                } else if (filled === total/2) {
                    header.style.backgroundColor = '#00ff48'; // Green
                }
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector('form');
            const submitButton = document.getElementById('submit-button');
            const successModal = document.getElementById('success-modal');
            const closeModalButton = document.getElementById('close-modal');

            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting normally

                // Show the modal
                successModal.classList.remove('hidden');

                // Hide the modal when the close button is clicked
                closeModalButton.addEventListener('click', () => {
                    successModal.classList.add('hidden');
                    form.submit(); // Submit the form after closing the modal
                });
            });

            updateCategoryBackground(); // Initial check on page load
            document.querySelectorAll('input[type=radio]').forEach(radio => {
                radio.addEventListener('change', updateCategoryBackground);
            });
        });

        document.addEventListener('DOMContentLoaded', () => {
            const radios = document.querySelectorAll('input[type=radio]');
            radios.forEach(radio => {
                const label = radio.nextElementSibling;
                radio.addEventListener('change', () => {
                    radios.forEach(r => {
                        r.nextElementSibling.classList.remove('selected');
                    });

                    label.classList.add('selected');
                });
            });
        });
    </script>
{% endblock %}
