{# templates/diagnostics/recapitulatif.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Récapitulatif des Diagnostics{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            margin-top: 50px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 2.5em;
            color: #333;
        }
        .table-responsive {
            margin: 0 auto;
            max-width: 90%;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            background-color: #343a40;
            color: #fff;
        }
        th, td {
            padding: 15px;
            text-align: left;
            border: 1px solid #dee2e6;
        }
        tbody tr:nth-child(odd) {
            background-color: #f8f9fa;
        }
        tbody tr:hover {
            background-color: #e9ecef;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="fixed top-0 left-0">
        <img src="{{ asset('images/EBNtrans.png') }}" alt="EBN Logo" class="size-40">
    </div>
    <div class="fixed top-0 right-0">
        <img src="{{ asset('images/nouveau log 1.png') }}" alt="LCDRLR Logo" class="">
    </div>
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-center text-black mb-8">Récapitulatif des Diagnostics</h1>
        <div class="relative overflow-x shadow-md sm:rounded-lg tab_ctn">
            {% if diagnostics is not empty %}
            <table class="w-full text-lg text-left text-gray-650">
                <thead class="text-lg text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th colspan="6" class="px-6 py-3 text-center docker compose up
             border-right-black">Informations sur le Diagnostic</th>
                    <th colspan="4" class="ppx-6 py-3 text-center border-left-black border-right-black">Informations sur le Lieu</th>
                    <th colspan="7" class="px-6 py-3 text-center border-left-black border-right-black">Informations sur le Vélo</th>
                    <th colspan="2" class="px-6 py-3 text-center">Informations sur le propriétaire</th>
                </tr>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <span>fait par</span>
                            <button onclick="toggleDropdown('dropdownNomUtilisateur')" style="background: none; border: none; cursor: pointer; margin-left: 5px;">▼</button>
                        </div>
                        <div id="dropdownNomUtilisateur" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                            <a href="#" onclick="filterRows('nom', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                            {% for nom in noms_uniques %}
                                <a href="#" onclick="filterRows('nom', '{{ nom }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ nom }}</a>
                            {% endfor %}
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3 text-center">ID </th>
                    <th scope="col" class="px-6 py-3">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <span>Date</span>
                            <button onclick="toggleDropdown('dropdownDate')" style="background: none; border: none; cursor: pointer; margin-left: 5px;">▼</button>
                        </div>
                        <div id="dropdownDate" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                            <a href="#" onclick="filterRows('date', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                            {% for date in dates_uniques %}
                                <a href="#" onclick="filterRows('date', '{{ date|date('d-m-Y') }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ date|date('d-m-Y') }}</a>
                            {% endfor %}
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <span>Type</span>
                            <button onclick="toggleDropdown('dropdownTypeD')" style="background: none; border: none; cursor: pointer; margin-left: 5px;">▼</button>
                        </div>
                        <div id="dropdownTypeD" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                            <a href="#" onclick="filterRows('type', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                            {% for type in types_uniquesd %}
                                <a href="#" onclick="filterRows('type', '{{ type }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ type }}</a>
                            {% endfor %}
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <span>Conclusion</span>
                            <button onclick="toggleDropdown('dropdownConclusion')" style="background: none; border: none; cursor: pointer; margin-left: 5px;">▼</button>
                        </div>
                        <div id="dropdownConclusion" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                            <a href="#" onclick="filterRows('conclusion', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                            {% for conclusion in conclusions_uniques %}
                                <a href="#" onclick="filterRows('conclusion', '{{ conclusion }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ conclusion }}</a>
                            {% endfor %}
                        </div>
                    </th>

                    {#<th scope="col" class="px-6 py-3 text-center">Conclusion</th>#}
                    <th scope="col" class="px-6 py-3">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <span>Status</span>
                            <button onclick="toggleDropdown('dropdownStatusD')" style="background: none; border: none; cursor: pointer; margin-left: 5px;">▼</button>
                        </div>
                        <div id="dropdownStatusD" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                            <a href="#" onclick="filterRows('status', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                            {% for status in statusd_uniques %}
                                <a href="#" onclick="filterRows('status', '{{ status }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ status }}</a>
                            {% endfor %}
                        </div>
                    </th>


                    <!-- Colonne Type -->
                    <th scope="col" class="px-6 py-3 border-left-black text-center">
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <span>Type</span>
                            <button onclick="toggleDropdown('dropdownTypeL')" style="background: none; border: none; cursor: pointer; margin-left: 5px;">▼</button>
                        </div>
                        <div id="dropdownTypeL" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                            <a href="#" onclick="filterRows('typeL', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                            {% for type in types_lieux_uniques %}
                                <a href="#" onclick="filterRows('typeL', '{{ type }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ type }}</a>
                            {% endfor %}
                        </div>
                    </th>


                    <!-- Colonne Nom -->
                    <th scope="col" class="px-6 py-3 text-center">
                        <div class="flex items-center justify-center">
                            <span>Nom</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownNomLieu')">▼</button>
                        </div>
                        <div id="dropdownNomLieu" class="dropdown-content hidden absolute bg-gray-100 min-w-[160px] shadow-lg z-10">
                            <a href="#" onclick="filterRows('nomV', ''); closeDropdown('dropdownNomLieu');" class="text-black px-4 py-3 block hover:bg-gray-200">Tout</a>
                            {% for nom in noms_lieux_uniques %}
                                <a href="#" onclick="filterRows('nomV', '{{ nom }}'); closeDropdown('dropdownNomLieu');" class="text-black px-4 py-3 block hover:bg-gray-200">{{ nom }}</a>
                            {% endfor %}
                        </div>
                    </th>


                    <!-- Colonne Ville -->
                    <th scope="col" class="px-6 py-3 text-center">
                        <div class="flex items-center justify-center">
                            <span>Ville</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownVille')">▼</button>
                        </div>
                        <div id="dropdownVille" class="dropdown-content hidden absolute bg-gray-100 min-w-[160px] shadow-lg z-10">
                            <a href="#" onclick="filterRows('villeV', ''); closeDropdown('dropdownVille');" class="text-black px-4 py-3 block hover:bg-gray-200">Tout</a>
                            {% for ville in villes_uniques %}
                                <a href="#" onclick="filterRows('villeV', '{{ ville }}'); closeDropdown('dropdownVille');" class="text-black px-4 py-3 block hover:bg-gray-200">{{ ville }}</a>
                            {% endfor %}
                        </div>
                    </th>


                    <!-- Colonne Code postal -->
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center justify-center">
                            <span>Code postal</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownCodePostal')">▼</button>
                        </div>
                        <div id="dropdownCodePostal" class="dropdown-content hidden absolute bg-gray-100 min-w-[160px] shadow-lg z-10">
                            <a href="#" onclick="filterRows('codePostalV', ''); closeDropdown('dropdownCodePostal');" class="text-black px-4 py-3 block hover:bg-gray-200">Tout</a>
                            {% for code_postal in codes_postaux_uniques %}
                                <a href="#" onclick="filterRows('codePostalV', '{{ code_postal }}'); closeDropdown('dropdownCodePostal');" class="text-black px-4 py-3 block hover:bg-gray-200">{{ code_postal }}</a>
                            {% endfor %}
                        </div>
                    </th>



                    {#} <th scope="col" class="px-6 py-3 text-center ">Status </th>#}
                    <th scope="col" class="px-6 py-3 border-left-black text-center">Vélo Id</th>
                    <th scope="col" class="px-6 py-3 text-center">N° de série</th>
                    <th scope="col" class="px-6 py-3 text-center">Bicycode</th>
                    <th scope="col" class="px-6 py-3">Ref Recyclerie</th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center justify-center">
                            <span>Type</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownTypeV')">▼</button>
                        </div>
                            <div id="dropdownTypeV" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('typeV', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for type in types_uniquesv %}
                                    <a href="#" onclick="filterRows('typeV', '{{ type }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ type }}</a>
                                {% endfor %}
                            </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center justify-center">
                            <span>Marque</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownMarque')">▼</button>
                        </div>
                            <div id="dropdownMarque" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('marque', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for marque in marques_uniques %}
                                    <a href="#" onclick="filterRows('marque', '{{ marque }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ marque }}</a>
                                {% endfor %}
                            </div>

                    </th>

                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center justify-center">
                            <span>Public</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownPublic')">▼</button>
                        </div>
                            <div id="dropdownPublic" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('public', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for public in publics_uniques %}
                                    <a href="#" onclick="filterRows('public', '{{ public }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ public }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center justify-center">
                            <span>Nom</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownNomProprietaire')">▼</button>
                        </div>
                            <div id="dropdownNomProprietaire" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('nomP', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for nom in nomsp_uniques %}
                                    <a href="#" onclick="filterRows('nomP', '{{ nom }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ nom }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>

                    <th scope="col" class="px-6 py-3">
                        <div class="flex items-center justify-center">
                            <span>Type</span>
                            <button class="bg-none border-none cursor-pointer ml-2" onclick="toggleDropdown('dropdownTypep')">▼</button>
                        </div>
                            <div id="dropdownTypep" class="dropdown-content" style="display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                                <a href="#" onclick="filterRows('statutP', '')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">Tout</a>
                                {% for statut in statutp_uniques %}
                                    <a href="#" onclick="filterRows('statutP', '{{ statut }}')" style="color: black; padding: 12px 16px; text-decoration: none; display: block;" onmouseover="hover(this, true)" onmouseout="hover(this, false)">{{ statut }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% set rowNumber = 0 %}
                {% for diagnostic in diagnostics %}
                    {% set rowNumber = rowNumber + 1 %}
                    <tr class="{{ rowNumber is even ? 'bg-gray-850 border-b' : 'bg-white border-b' }}"
                        data-nom="{{ diagnostic.velo and diagnostic.utilisateur ? diagnostic.utilisateur.nom : 'N/A' }}"
                        data-type="{{ diagnostic.diagnosticType ? diagnostic.diagnosticType.nomType : 'N/A' }}"
                        data-typeV="{{ diagnostic.velo ? diagnostic.velo.type : 'N/A' }}"
                        data-conclusion="{{ diagnostic.conclusion }}"
                        data-date="{{ diagnostic.dateDiagnostic|date('d-m-Y') }}"
                        data-typeL="{{ diagnostic.lieuId and diagnostic.lieuId.typeLieuId ? diagnostic.lieuId.typeLieuId.nomTypeLieu : 'N/A' }}"
                        data-nomV="{{ diagnostic.lieuId ? diagnostic.lieuId.nomLieu : 'N/A' }}"
                        data-villeV="{{ diagnostic.lieuId ? diagnostic.lieuId.ville : 'N/A' }}"
                        data-codepostalV="{{ diagnostic.lieuId ? diagnostic.lieuId.codePostal : 'N/A' }}"
                        data-status="{{ diagnostic.status }}"
                        data-marque="{{ diagnostic.velo ? diagnostic.velo.marque : 'N/A' }}"
                        data-public="{{ diagnostic.velo ? diagnostic.velo.public : 'N/A' }}"
                        data-nomP="{{ diagnostic.velo and diagnostic.velo.proprietaire ? diagnostic.velo.proprietaire.nomProprio : 'N/A' }}"
                        data-statutP="{{ diagnostic.velo and diagnostic.velo.proprietaire ? diagnostic.velo.proprietaire.statut : 'N/A' }}"
                    >
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.utilisateur ? diagnostic.utilisateur.username : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.id }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.dateDiagnostic|date('d-m-Y') }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.diagnosticType ? diagnostic.diagnosticType.nomType : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.conclusion }}</td>
                        <td class="px-6 py-4 border-right-black border-b border-gray-300">{{ diagnostic.status }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.lieuId and diagnostic.lieuId.typeLieuId ? diagnostic.lieuId.typeLieuId.nomTypeLieu : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.lieuId ? diagnostic.lieuId.nomLieu : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.lieuId ? diagnostic.lieuId.ville : 'N/A' }}</td>
                        <td class="px-6 py-4 border-right-black border-b border-gray-300">{{ diagnostic.lieuId ? diagnostic.lieuId.codePostal : 'N/A' }}</td>
                        <td class="px-6 py-4 border-left-black border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.id : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.numeroDeSerie : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.bicycode : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.refRecyclerie : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.type : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.marque : 'N/A' }}</td>
                        <td class="px-6 py-4 border-right-black border-b border-gray-300">{{ diagnostic.velo ? diagnostic.velo.public : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo and diagnostic.velo.proprietaire ? diagnostic.velo.proprietaire.nomProprio : 'N/A' }}</td>
                        <td class="px-6 py-4 border-r border-b border-gray-300">{{ diagnostic.velo and diagnostic.velo.proprietaire ? diagnostic.velo.proprietaire.statut : 'N/A' }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            {% else %}
                <div class="text-center py-8">
                    <p class="text-gray-500 text-lg">Aucun diagnostic trouvé.</p>
                </div>
            {% endif %}
        </div>
        <div class="details-container text-center mt-4">
            <a href="{{ path('app_accueil') }}" class="button-style">Retour à l'accueil</a>
        </div>
    </div>

    <style>
        h1 {
            margin-top: 7rem;
        }
        .py-3 {
            vertical-align: top;
        }
        .px-6 {
            padding-left: 0.3rem;
            padding-right: 0.3rem;
        }
        .tab_ctn {
            width: 95%;
            margin: auto;
        }
        .tab_ctn td:first-child, .tab_ctn th:first-child {
            padding: 0.5rem;
        }
        .modal-backdrop {
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(5px);
            height: 100vh;
            z-index: 50;
        }
    </style>

     <script>

        function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }
        // filtres combinés
        let activeFilters = {}; // Objet pour stocker les filtres actifs


        function filterRows(attribute, value) {
            if (value === "") {
                delete activeFilters[attribute]; // Supprimez le filtre s'il est vide
            } else {
                activeFilters[attribute] = value; // Ajoutez ou mettez à jour le filtre
            }

            applyFilters(); // Appliquez tous les filtres actifs

            // Fermez tous les menus déroulants
            document.querySelectorAll('.dropdown-content').forEach(dropdown => {
                dropdown.style.display = 'none';
            });
        }
        function applyFilters() {
            const rows = document.querySelectorAll("tbody tr");

            rows.forEach(row => {
                let isVisible = true;

                for (const [attribute, value] of Object.entries(activeFilters)) {
                    const attrValue = row.getAttribute('data-' + attribute);
                    if (attrValue !== value) {
                        isVisible = false; // Cachez la ligne si un filtre ne correspond pas
                        break;
                    }
                }

                row.style.display = isVisible ? "" : "none";
            });
        }


        function hover(element, isHovering) {
            if (isHovering) {
                element.style.backgroundColor = '#e0e0e0';
            } else {
                element.style.backgroundColor = '#f9f9f9';
            }
        }

        function filterByReference() {
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        function filterBySerial() {
            var input = document.getElementById("searchSerial");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        function filterByOwner() {
            var input = document.getElementById("searchOwner");
            var filter = input.value.toUpperCase();
            var table = document.querySelector("table");
            var tr = table.getElementsByTagName("tr");
            for (var i = 1; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    tr[i].style.display = txtValue.toUpperCase().indexOf(filter) > -1 ? "" : "none";
                }
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const openModalButtons = document.querySelectorAll('[data-modal-toggle]');
            const closeModalButtons = document.querySelectorAll('[data-modal-hide]');
            const modalBackdrops = document.querySelectorAll('.modal-backdrop');

            openModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-toggle');
                    const modal = document.getElementById(modalId);
                    modal.classList.remove('hidden');
                });
            });

            closeModalButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-hide');
                    const modal = document.getElementById(modalId);
                    modal.classList.add('hidden');
                });
            });

            modalBackdrops.forEach(backdrop => {
                backdrop.addEventListener('click', (event) => {
                    // Check if the clicked element is the backdrop itself
                    if (event.target === backdrop) {
                        const modalId = backdrop.getAttribute('id');
                        const modal = document.getElementById(modalId);
                        modal.classList.add('hidden');
                    }
                });
            });
        });
        document.addEventListener("click", (event) => {
            const clickedElement = event.target;
            const isBackdrop = clickedElement.classList.contains("modal-backdrop");
            if (isBackdrop) {
                const modalId = clickedElement.getAttribute("id");
                const modal = document.getElementById(modalId);
                modal.classList.add("hidden");
            }
        });
    </script>
{% endblock %}
